In [62]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt

In [45]:
# Data Science
df_ds = pd.read_csv("data/data_scientist.csv").iloc[:, 1 :] # remove index column
# Data Engineering 
df_de = pd.read_csv("data/data_engineer.csv").iloc[:, 1 :]
# Data Analysis
df_da = pd.read_csv("data/data_analyst.csv").iloc[:, 1 :]
# ML engineering
df_ml = pd.read_csv("data/ml_engineer.csv").iloc[:, 1 :]

# Duplicated Job Descriptions
duplicates_mask = df_ds["Job Description"].duplicated(keep=False) == True
print("Number of duplicates:", duplicates_mask.sum())
df_ds[duplicates_mask].head(10)

Number of duplicates: 539

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
22,Data Scientist -,-1,"Our Mission\nWe’re here to create a safer, hap...",4.5,Blue Owl\n4.5,"San Francisco, CA",-1,51 to 200 Employees,2016,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,-1
68,"Software Engineer (Data Scientist, C,C++,Linux...",$72k-$142k\n(Glassdoor Est.),"During the current global health crisis, the p...",4.1,Mentor Graphics\n4.1,"Fremont, CA",-1,5001 to 10000 Employees,1981,Company - Public,Computer Hardware & Software,Information Technology,$1 to $2 billion (USD),-1
91,Data Scientist 1,$94k-$152k\n(Glassdoor Est.),Who we are\n\n\nFueled by a fundamental belief...,3.9,PayPal\n3.9,"San Jose, CA",-1,10000+ Employees,1998,Company - Public,Internet,Information Technology,$10+ billion (USD),-1
92,Data Scientist,-1,"The Chan Zuckerberg Biohub (""CZ Biohub”) is an...",3.8,Chan Zuckerberg Biohub\n3.8,"San Francisco, CA",-1,1 to 50 Employees,-1,Nonprofit Organization,Health Fundraising Organizations,Non-Profit,Less than $1 million (USD),-1
93,Data Scientist 1,$94k-$152k\n(Glassdoor Est.),Who we are\n\n\nFueled by a fundamental belief...,3.9,PayPal\n3.9,"San Jose, CA",-1,10000+ Employees,1998,Company - Public,Internet,Information Technology,$10+ billion (USD),-1
94,Data Scientist,-1,"The Chan Zuckerberg Biohub (""CZ Biohub”) is an...",3.8,Chan Zuckerberg Biohub\n3.8,"San Francisco, CA",-1,1 to 50 Employees,-1,Nonprofit Organization,Health Fundraising Organizations,Non-Profit,Less than $1 million (USD),-1
118,"Data Scientist - Analytics, Trust & Safety",-1,"Data Scientist - Analytics, Trust & Safety\nMo...",4.0,TikTok\n4.0,"Mountain View, CA",-1,1001 to 5000 Employees,2016,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,-1
122,Data Scientist,$100k-$136k\n(Glassdoor Est.),Job TITLE: Data Scientist\n\nLocation: Santa C...,4.1,Flexton\n4.1,"Santa Clara, CA",-1,51 to 200 Employees,2007,Company - Private,IT Services,Information Technology,$10 to $25 million (USD),-1
124,Data Scientist,$100k-$136k\n(Glassdoor Est.),Job TITLE: Data Scientist\n\nLocation: Santa C...,4.1,Flexton\n4.1,"Santa Clara, CA",-1,51 to 200 Employees,2007,Company - Private,IT Services,Information Technology,$10 to $25 million (USD),-1
171,Data Scientist,$120k-$191k\n(Glassdoor Est.),Bioinformatics Programmer II\n\n17-Aug-2020\n\...,4.1,UCSF Medical Center\n4.1,"San Francisco, CA",-1,10000+ Employees,1907,Hospital,Health Care Services & Hospitals,Health Care,$50 to $100 million (USD),-1

In [46]:
# Duplicates associated of record at index "i"
i = 68
job_description = df_ds.loc[i, "Job Description"]
df_ds[df_ds["Job Description"] == job_description]

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
68,"Software Engineer (Data Scientist, C,C++,Linux...",$72k-$142k\n(Glassdoor Est.),"During the current global health crisis, the p...",4.1,Mentor Graphics\n4.1,"Fremont, CA",-1,5001 to 10000 Employees,1981,Company - Public,Computer Hardware & Software,Information Technology,$1 to $2 billion (USD),-1
748,"Software Engineer (Data Scientist, C,C++,Linux...",$57k-$119k\n(Glassdoor Est.),"During the current global health crisis, the p...",4.0,Siemens Healthineers\n4.0,"Fremont, CA",-1,10000+ Employees,1847,Company - Public,Health Care Services & Hospitals,Health Care,$10+ billion (USD),-1

In [47]:
# Inspect records close to the duplicate found at index 748
df_ds.iloc[745:751]

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
745,"Machine Learning Engineer, 2+ Years Experience",$113k-$196k\n(Glassdoor Est.),Snap Inc. is a camera company. We believe that...,3.9,Snap\n3.9,"Los Angeles, CA",-1,1001 to 5000 Employees,2011,Company - Public,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1
746,Data Engineer - Product Analytics,$100k-$179k\n(Glassdoor Est.),ABOUT THE TEAM\n\n\nThe data engineering team ...,3.4,Stitch Fix\n3.4,"San Francisco, CA",-1,5001 to 10000 Employees,2011,Company - Public,Other Retail Stores,Retail,$500 million to $1 billion (USD),-1
747,Looking for Data Scientist - Machine Learning ...,-1,Looking for Data Scientist - Machine Learning ...,4.9,Tekishub Consulting Services\n4.9,"Sunnyvale, CA",-1,201 to 500 Employees,2008,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),-1
748,"Software Engineer (Data Scientist, C,C++,Linux...",$57k-$119k\n(Glassdoor Est.),"During the current global health crisis, the p...",4.0,Siemens Healthineers\n4.0,"Fremont, CA",-1,10000+ Employees,1847,Company - Public,Health Care Services & Hospitals,Health Care,$10+ billion (USD),-1
749,Principal Data Scientist 200000CC,-1,Principal Data Scientist 200000CC\nWork Locati...,2.0,Tech-Connect\n2.0,"Los Angeles, CA",-1,1 to 50 Employees,-1,Company - Private,Enterprise Software & Network Solutions,Information Technology,$1 to $5 million (USD),-1
750,Machine Learning Engineer,-1,Lead AI development in delivering value to our...,2.8,Digital Dhara\n2.8,"San Jose, CA",-1,1 to 50 Employees,-1,Company - Private,-1,-1,Less than $1 million (USD),-1

In [48]:
# Duplicate records
df_ds.duplicated(keep=False).sum()

527

In [49]:
# Remove duplicates
df_1 = df_ds[df_ds.duplicated() == False]
df_2 = df_de[df_de.duplicated() == False]
df_3 = df_da[df_da.duplicated() == False]
df_4 = df_ml[df_ml.duplicated() == False]

In [50]:
# Merge data from all queries 
df = pd.concat([df_1, df_2, df_3, df_4])
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Sr. DATA SCIENTIST,$155k-$247k\n(Glassdoor Est.),Title: Sr. Data Scientist\n\nCompany: Samsung ...,3.7,Samsung Research America\n3.7,"Mountain View, CA",-1,1001 to 5000 Employees,1988,Subsidiary or Business Segment,Computer Hardware & Software,Information Technology,$50 to $100 million (USD),-1
1,Data Scientist - Telecommute,$67k-$117k\n(Glassdoor Est.),Optum Payment Integrity Analytics is looking t...,3.4,Unitedhealth Group\n3.4,"San Diego, CA",-1,10000+ Employees,1977,Company - Public,Health Care Services & Hospitals,Health Care,$10+ billion (USD),-1
2,Clinical Laboratory Scientist PM Shift,-1,Testing is the most significant bottleneck in ...,-1.0,SummerBio,"Menlo Park, CA",-1,-1,-1,-1,-1,-1,-1,-1
3,Manufacturing Scientist,$41k-$91k\n(Glassdoor Est.),Biomerica Corporation focusing on the research...,2.5,Biomerica\n2.5,"Irvine, CA",-1,1 to 50 Employees,-1,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$5 to $10 million (USD),-1
4,"Data Scientist, Medical Diagnostics",-1,_*The Company*_\nThe world is facing a medical...,1.0,Specific Diagnostics\n1.0,"Mountain View, CA",-1,1 to 50 Employees,-1,Company - Private,-1,-1,Less than $1 million (USD),-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
924,Modem Systems Engineer (5G/LTE Advanced Algori...,$97k-$123k\n(Glassdoor Est.),Modem Systems Engineer (5G/LTE – Advanced Algo...,3.5,"Samsung Semiconductor, Inc.\n3.5","San Diego, CA",-1,1001 to 5000 Employees,1983,Subsidiary or Business Segment,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1
926,Senior Data Scientist,-1,"WHO WE ARE\n\nKinship, Mars Petcare's newest d...",-1.0,Kinship,"San Francisco, CA",-1,1 to 50 Employees,-1,Company - Private,Advertising & Marketing,Business Services,Less than $1 million (USD),-1
927,"Data Scientist, Life Sciences (US)",$97k-$156k\n(Glassdoor Est.),CitiusTech is a leader in HealthCare innovatio...,3.7,CitiusTech\n3.7,"San Francisco, CA",-1,1001 to 5000 Employees,2005,Company - Private,IT Services,Information Technology,$100 to $500 million (USD),-1
928,"Senior Data Scientist, (Genomics, Presicion Me...",$97k-$158k\n(Glassdoor Est.),"About City of Hope\nCity of Hope, an innovativ...",3.4,City of Hope\n3.4,"Irwindale, CA",-1,5001 to 10000 Employees,1913,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD),-1
931,Principal Data Scientist - Health Economics & ...,$134k-$218k\n(Glassdoor Est.),The Position\n\n\nPosition is based in South S...,4.1,Genentech\n4.1,"Los Angeles, CA",-1,10000+ Employees,1976,Subsidiary or Business Segment,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),-1

In [51]:
# Remove duplicate records from combined search queries.
df = df[df["Job Description"].duplicated() == False]
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Sr. DATA SCIENTIST,$155k-$247k\n(Glassdoor Est.),Title: Sr. Data Scientist\n\nCompany: Samsung ...,3.7,Samsung Research America\n3.7,"Mountain View, CA",-1,1001 to 5000 Employees,1988,Subsidiary or Business Segment,Computer Hardware & Software,Information Technology,$50 to $100 million (USD),-1
1,Data Scientist - Telecommute,$67k-$117k\n(Glassdoor Est.),Optum Payment Integrity Analytics is looking t...,3.4,Unitedhealth Group\n3.4,"San Diego, CA",-1,10000+ Employees,1977,Company - Public,Health Care Services & Hospitals,Health Care,$10+ billion (USD),-1
2,Clinical Laboratory Scientist PM Shift,-1,Testing is the most significant bottleneck in ...,-1.0,SummerBio,"Menlo Park, CA",-1,-1,-1,-1,-1,-1,-1,-1
3,Manufacturing Scientist,$41k-$91k\n(Glassdoor Est.),Biomerica Corporation focusing on the research...,2.5,Biomerica\n2.5,"Irvine, CA",-1,1 to 50 Employees,-1,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$5 to $10 million (USD),-1
4,"Data Scientist, Medical Diagnostics",-1,_*The Company*_\nThe world is facing a medical...,1.0,Specific Diagnostics\n1.0,"Mountain View, CA",-1,1 to 50 Employees,-1,Company - Private,-1,-1,Less than $1 million (USD),-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
917,C++ Engineer in Machine Learning | Autonomous ...,$74k-$151k\n(Glassdoor Est.),These opportunities are located in San Diego. ...,3.7,"TuSimple, Inc.\n3.7","Los Angeles, CA",-1,201 to 500 Employees,2015,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1
920,"Sensor Research Engineer (Lidar, Radar, Camera)",$82k-$142k\n(Glassdoor Est.),Sensor Research Engineer\n\nEmail your resume ...,3.7,"TuSimple, Inc.\n3.7","San Diego, CA",-1,201 to 500 Employees,2015,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1
921,Autonomous Vehicle Research Internship (PhD / ...,-1,Internship for (Summer/Spring/Fall 2021)\n\nFo...,3.7,"TuSimple, Inc.\n3.7","San Francisco, CA",-1,201 to 500 Employees,2015,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1
924,Modem Systems Engineer (5G/LTE Advanced Algori...,$97k-$123k\n(Glassdoor Est.),Modem Systems Engineer (5G/LTE – Advanced Algo...,3.5,"Samsung Semiconductor, Inc.\n3.5","San Diego, CA",-1,1001 to 5000 Employees,1983,Subsidiary or Business Segment,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1
926,Senior Data Scientist,-1,"WHO WE ARE\n\nKinship, Mars Petcare's newest d...",-1.0,Kinship,"San Francisco, CA",-1,1 to 50 Employees,-1,Company - Private,Advertising & Marketing,Business Services,Less than $1 million (USD),-1

In [52]:
def return_job_type(row):
    if "data scientist" in row:
        return "Data Science"
    elif "data engineer" in row:
        return "Data Engineering"
    elif "data analyst" in row:
        return "Data Analysis"
    elif "machine learning" in row:
        return "ML Engineering"
    else : return np.nan

In [63]:
df["Job Title"] = df["Job Title"].str.lower()
# Extract job titles
extracted_job_titles = df["Job Title"].apply(return_job_type)
extracted_job_titles.value_counts(dropna=False)

NaN                 726
Data Analysis       415
Data Science        393
Data Engineering    246
ML Engineering      218
Name: Job Title, dtype: int64

In [74]:
# Replaces Job Titles
df["Job Title"] = extracted_job_titles
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1998 entries, 0 to 926
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          1272 non-null   object
 1   Salary Estimate    1998 non-null   object
 2   Job Description    1998 non-null   object
 3   Rating             1998 non-null   float64
 4   Company Name       1995 non-null   object
 5   Location           1998 non-null   object
 6   Headquarters       1998 non-null   int64
 7   Size               1998 non-null   object
 8   Founded            1998 non-null   int64
 9   Type of ownership  1998 non-null   object
 10  Industry           1998 non-null   object
 11  Sector             1998 non-null   object
 12  Revenue            1998 non-null   object
 13  Competitors        1998 non-null   int64
dtypes: float64(1), int64(3), object(10)
memory usage: 274.1+ KB

## Classification

In [84]:
# Remove records with missing job titles
df_classify = df.dropna()

In [85]:
df_classify.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1270 entries, 0 to 926
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          1270 non-null   object
 1   Salary Estimate    1270 non-null   object
 2   Job Description    1270 non-null   object
 3   Rating             1270 non-null   float64
 4   Company Name       1270 non-null   object
 5   Location           1270 non-null   object
 6   Headquarters       1270 non-null   int64
 7   Size               1270 non-null   object
 8   Founded            1270 non-null   int64
 9   Type of ownership  1270 non-null   object
 10  Industry           1270 non-null   object
 11  Sector             1270 non-null   object
 12  Revenue            1270 non-null   object
 13  Competitors        1270 non-null   int64
dtypes: float64(1), int64(3), object(10)
memory usage: 188.8+ KB