![image](rfd_logo.png)

[RedFlagDeals](https://forums.redflagdeals.com/hot-deals-f9/) is a forum where users can post sales or deals that they have come across. Two tables have been scraped from the website. The main table with a description of all columns is shown below. The second table stores comments that were made on each post. Comments can be linked back to their original posts in the main table through the `title` column.

In this project, the data from both columns will be cleaned by converting columns to their most appropriate data type, removing unwanted characters from strings and by dealing with missing values. Some of the nan records can be substituted through information found in the title or url. 

If you don't want to bother with data wrangling and start analyzing, I included the final cleaned version as a download (`rfd_main_cleaned`).

|Column name|Description|
|---|---|
|'title'| Title of post|
|'votes'| Sum of up-, and down-votes|
|'source'| Name of retailer offering the sale|
|'creation_date'| Date of initial post|
|'last_reply'| Date of most recent reply|
|'author'| User name of post author|
|'replies'| Number of replies|
|'views'| Number of views|
|'price'| Price of product on sale|
|'saving'| Associated saving|
|'expiry'| Expiry date of sale|
|'url'| Link to deal|

In [2]:
# Packages
import requests # Scraping
from bs4 import BeautifulSoup # HTML parsing
import pandas as pd
import numpy as np
import datetime
import re

## Load data and explore

### Main table

In [3]:
df_raw = pd.read_csv('rfd_main.csv').iloc[:,1:]
df_raw.head()

,author,creation_date,expiry,last_reply,parent_category,price,replies,saving,source,thread_category,title,url,views,votes
0,flora0222,"Jul 16th, 2020 8:29 am",NaN,"Jul 17th, 2020 9:20 am",NaN,6.99,89,NaN,Staples,Home & Garden,"One Step Hand Sanitizer, Fragrance-Free, 473mL...",https://staplescanada.4u8mqw.net/c/341376/7554...,15445,132
1,yellowmp5,"Jul 13th, 2020 1:29 pm",NaN,"Jul 17th, 2020 9:18 am",NaN,NaN,441,NaN,Home Depot,Home & Garden,RYOBI 20% coupon barcode,NaN,59219,159
2,riseagainstthemachine,"Jul 2nd, 2020 10:03 am",NaN,"Jul 17th, 2020 9:17 am",NaN,free,92,NaN,NaN,Apparel,Kits.com Free Pair Prescription Glasses,https://www.kits.com/freeglasses.html,25242,54
3,Googliya,"Jul 17th, 2020 7:23 am",NaN,"Jul 17th, 2020 9:15 am",NaN,469.99,13,NaN,Costco,Sports & Fitness,"Northrock xc00, fat Tire bike, $469.99",https://www.costco.ca/northrock-xc00-fat-tire-...,1769,2
4,Presents,"Jul 16th, 2020 1:36 pm","July 29, 2020","Jul 17th, 2020 9:15 am",NaN,NaN,24,NaN,Canadian Tire,Automotive,60x total CT Money when you pay with your Tria...,NaN,2981,9

In [4]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1326 entries, 0 to 1325
Data columns (total 14 columns):
author             1326 non-null object
creation_date      1326 non-null object
expiry             370 non-null object
last_reply         1326 non-null object
parent_category    825 non-null object
price              898 non-null object
replies            1326 non-null int64
saving             524 non-null object
source             987 non-null object
thread_category    1325 non-null object
title              1326 non-null object
url                1044 non-null object
views              1326 non-null int64
votes              1326 non-null int64
dtypes: int64(3), object(11)
memory usage: 145.2+ KB

In [5]:
df_raw.describe(include='all')

,author,creation_date,expiry,last_reply,parent_category,price,replies,saving,source,thread_category,title,url,views,votes
count,1326,1326,370,1326,825,898,1326.000000,524,987,1325,1326,1044,1326.000000,1326.000000
unique,946,1283,73,1253,12,610,NaN,286,148,55,1309,1019,NaN,NaN
top,immad01,"Jul 15th, 2020 11:09 am","July 2, 2020","Jul 17th, 2020 8:31 am",Computers & Electronics,Free,NaN,50%,Amazon.ca,Computers & Electronics,Book Outlet - Many Low Prices on Books (Free S...,https://www.rakuten.ca/flash-sale,NaN,NaN
freq,34,3,30,4,339,13,NaN,31,213,176,2,2,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,52.892911,NaN,NaN,NaN,NaN,NaN,13734.675716,12.815988
std,NaN,NaN,NaN,NaN,NaN,NaN,144.362648,NaN,NaN,NaN,NaN,NaN,33812.256561,28.023994
min,NaN,NaN,NaN,NaN,NaN,NaN,-1.000000,NaN,NaN,NaN,NaN,NaN,127.000000,-73.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,NaN,2191.750000,1.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,15.000000,NaN,NaN,NaN,NaN,NaN,4208.000000,5.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,45.000000,NaN,NaN,NaN,NaN,NaN,11146.250000,14.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,2791.000000,NaN,NaN,NaN,NaN,NaN,507393.000000,319.000000

### Comments table

In [6]:
df_comments = pd.read_csv("rfd_comments.csv").loc[:,"title":]
df_comments.head()

,title,comments
0,Rheem 36kW Electric Tankless Water Heater Reg....,Purchased in store by a friend for 289+tax. We...
1,Rheem 36kW Electric Tankless Water Heater Reg....,Which store location? Do you have a picture of...
2,Rheem 36kW Electric Tankless Water Heater Reg....,OOS in BC
3,Rheem 36kW Electric Tankless Water Heater Reg....,"Saint John, NB. Receipt posted!"
4,Rheem 36kW Electric Tankless Water Heater Reg....,Only seems to be in stock (or is it) in Scarbo...

In [7]:
df_comments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1385 entries, 0 to 1384
Data columns (total 2 columns):
title       1385 non-null object
comments    1385 non-null object
dtypes: object(2)
memory usage: 21.8+ KB

## II. Data wrangling

### Comment table

From the the short exploration above we can see that we need to remove one row with missing values for the comments column. These probably correspond to comments without text. Further, comment strings will need to be cleaned.

In [8]:
# Delete rows with empty comments
df_comments.dropna(axis=0, inplace=True)
df_comments.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1385 entries, 0 to 1384
Data columns (total 2 columns):
title       1385 non-null object
comments    1385 non-null object
dtypes: object(2)
memory usage: 32.5+ KB

In [9]:
# Print first 100 comments
print([x for x in df_comments['comments'][0:100]])

["Purchased in store by a friend for 289+tax. Went back and got another for me for the same price. Not sure if it's a price error or a real sale. ", 'Which store location? Do you have a picture of the advertised sticker price or receipt to price match? Hard to get this hot deal without much to go on', 'OOS in BC', 'Saint John, NB. Receipt posted!', 'Only seems to be in stock (or is it) in Scarborough in GTA.', 'You might have to upgrade your electrical service to use this. 36 kw at 240 volts works out to 150 amps. Lots of houses only have 100 amp services.  Better to have a gas tankless water heater if you have gas service.', "Kanus wrote:  You might have to upgrade your electrical service to use this. 36 kw at 240 volts works out to 150 amps. Lots of houses only have 100 amp services.  Better to have a gas tankless water heater if you have gas service. Even with 200A... Lets say furnace is ON, this is 66A at my house. We are at 200 - 66 - 150 and we are already in the negative. Doesn't include dishwasher, oven, dryer, washer, TV, etc You would need 2x200. The cost to get that is minimal compared to the heater.", 'Picked a few up for the renovation in Laval, one left. Price on the shelf is 289', 'Seems like it would use a ton of electricity. An hour a day would be over 1000 kWh a month. I assume most of us would run it more than an hour a day.', 'Is the pricing store specific? Like you walk into your local store and have them pm OP receipt? That flies?', "Chewfam wrote: Seems like it would use a ton of electricity. An hour a day would be over 1000 kWh a month. I assume most of us would run it more than an hour a day. Provinces like Quebec electric is cheaper than gas or on par but in a place like Ontario no chance I'd get electric furnace/tankless. If ever gets on par than yes electric for everything as 100% efficiency and less parts than a gas appliance. As with electrical prices in Ontario now won't be for decades.", "I've never had a tankless system, but I've been interested in them. If I understand correctly, this unit would be ideal to be installed for use in a bathroom, but wouldn't work for a whole home. Is that about right? I'm redoing my bathroom in Augustv and thought this might be a good addition, at this price.", 'I’ve heard in cold climates that they can’t get freezing cold water hot enough fast enough . Not sure if this applies to this unit', "dhomas wrote:  I've never had a tankless system, but I've been interested in them. If I understand correctly, this unit would be ideal to be installed for use in a bathroom, but wouldn't work for a whole home. Is that about right? I'm redoing my bathroom in Augustv and thought this might be a good addition, at this price. I think it's rated to supply 2 showers simultaneously, so I'd say 2 bathrooms with showers. If somebody has to do a quick handwash while both showers are running, the temp should not change significantly, assuming a standard temperature-balancing faucet.  I have a small single-point-of-use electric water heater and I think these things are rated conservatively to avoid complaints from customers about not being hot enough.", "thesubmitter wrote:  I’ve heard in cold climates that they can’t get freezing cold water hot enough fast enough . Not sure if this applies to this unit It's based on the starting temperature of the incoming water. At my cottage it comes in at around 5-10 degrees in the spring, but 25 in the summer. So there is a corresponding difference at the tap of course. It can only raise the incoming water temperature a set amount based on the wattage of the element.  If you're on city/town water there's not so much difference between summer and winter incoming water temps.", "Inno wrote:  I think it's rated to supply 2 showers simultaneously, so I'd say 2 bathrooms with showers. If somebody has to do a quick handwash while both showers are running, the temp should not change significantly, assuming a standard temperature-balancing faucet.  I have a small single-point-of-use electric water heater and I think these things are rated conservatively to avoid complaints from customers about not being hot enough. Thanks for the info! I indeed have 2 bathrooms, but I would seldom use them at once. I suppose this could then replace my giant 60 gallon tank for my whole house? In total throughout the house, I have one full bathroom (with bath), one bathroom with shower only, a dishwasher, 3 bathroom faucets, and a kitchen faucet. Anyone have any advice on if this would be sufficient? (I'm in Montreal, so the electricity costs are minimal). Thanks for any advice!", "lilmikey wrote:  Provinces like Quebec electric is cheaper than gas or on par but in a place like Ontario no chance I'd get electric furnace/tankless. If ever gets on par than yes electric for everything as 100% efficiency and less parts than a gas appliance. As with electrical prices in Ontario now won't be for decades. I have a fairly big house and I use 23000 / year. Adding 1000 / month mean an increase of 50%. This is insane even in QC. This unit will not save you money. Period.", 'How is it possible for people to install this? As previously mentioned, this requires 150 amps. Most modern day houses only have 200 amps fuse boxes. You would need a sub panel at minimum.', 'EasyCompany251 wrote: How is it possible for people to install this? As previously mentioned, this requires 150 amps. Most modern day houses only have 200 amps fuse boxes. You would need a sub panel at minimum. Minimum panels for homes now are 200 amp , just installed an AC in a townhouse and was shocked it had a 200A panel.', 'SquadG wrote:  I have a fairly big house and I use 23000 / year. Adding 1000 / month mean an increase of 50%. This is insane even in QC. This unit will not save you money. Period. In Quebec electric furnaces with heatpumps are more common than gas furnaces for the reasons I stated "cheap hydro". Would be crazy to have electric furnace in Ontario.', 'We have a 22kw electric furnace and that thing is expensive to run,We dont have gas here.. Ive wanted one of these to replace a 60 gal tank. We have a 200amp service. Now is it going to be cheaper then the 60 cal tank and will it run with my furance at same time', "Just went to the Anjou store. They had the tag at 289$ but none left in the store (I asked an associate).  Still interested in learning more about these though. Are the energy requirements really as crazy as they seem? I'd really like to free up the space my 60 gallon tank takes, but not if it costs me twice as much in electricity costs.", 'This link may be useful for people. Data sheet for these.   ', 'lilmikey wrote:  Minimum panels for homes now are 200 amp , just installed an AC in a townhouse and was shocked it had a 200A panel. I have a house built around 2003-2004 with a 200A panel. This electric tankless would likely require at least 400A. Are there many new construction houses today fitted with 400A panels (without them being 6000 square feet houses)? Another thing is that having a 400A panel is one thing....the other is whether your local utility can even provide for 400A. This would likely be based upon the transformer available in your area. Based on the rate manual of my local utility, they do not even offer such a high amperage service.', 'Unless you live in Quebec, say hello to sky high electric bills with one of these things.', 'Install is going to cost you, 4x 40A breakers and 4 runs of NMD 8/2', "This thing is plain stupid. If you find your electric water heater isn't providing hot water quickly enough, then have each heating element on its own wire/breaker. For example, a 4800W tank will need two 30amps @ 240V breaker and will consume up to 9600W. Cut heating time by about 50%. And 40amps can fit in a 100/200amps panel. If you need to know more read this thread.", "Isn't the main reason why this needs so much electricity is to keep a heat exchanger ripping hot so water flowing past at 90psi can be heated to 120F in an instant? At least with a tank the heater has the opportunity to heat water up slowly and burn less electricity?", "I've had a Rinnai RL75iN tankless natural gas water heater for years. One of the best makes out there. The only thing I've ever done is pump vinegar through it a couple of times, (very easy to do with an aquarium pump and a pail... our water is hard) and yesterday I had to take the exhaust fan out to vacuum the dead bees and moths out of it as it was giving a code 10 error once in a while. This spring in Saskatchewan is very bad for moths, for some reason. Not bad for 20 years of virtually trouble free service. We are on very cold well water on our acreage as well.  I can't recommend these more... no more heating 60 or more gallons of water 24/7. I would caution against the electric model, unless perhaps you're in Quebec where rates are cheap. The natural gas only requires a regular electrical outlet, and a 3/4 in gas line to feed it.  I've saved many $100's on natural gas over the years.", "3ajs wrote:  Isn't the main reason why this needs so much electricity is to keep a heat exchanger ripping hot so water flowing past at 90psi can be heated to 120F in an instant? At least with a tank the heater has the opportunity to heat water up slowly and burn less electricity? In theory both are 100% efficient at heating the water, a tankless doesn't have to keep the water hot however so it's a bit more efficient. And you get an unlimited supply of hot water. I've been using a 27kw chinese one for a couple of years now, requires decalc/maintenance every 6 months as the water here is on the harder side. You can also get sudden increase in temperature if someone else is using (lots) hot water and turn off their faucet elsewhere because the heat then have no where else to go. Best if you can install a temperature mixing valve at the output to prevent this... I set mine to 37-38C so there's less energy waste to heat it to 60C and mixing with cold water, I get warm water on the hot side and reduces risk of scaling, eg with kids. I think when it goes. I'll get a heat pump tank instead, takes more room but less issues and above 100% efficiency.", 'NG and I would be all over this.', 'CaptSmethwick wrote:  NG and I would be all over this. I was lucky, I bought my Rinnai RL75iN on eBay 20 years ago for about 1/2 what they cost now, installed it myself, (super easy) and had a friend with a gas ticket hook it up, then inspected.  Love it.', "Nice price for sure, but with a 20kw furnace boiler already on my 200A panel, there is no way I could install one of these. Most decent bottom entry 60G hot water tanks don't use that much electricity on standby to maintain the water temp anyhow. Most have decent insolation around the tank, and the bottom element may come on once in while, but nothing drastic. Yes, if you are going on an extended vacation, you may as well shut it off, but otherwise, I don't see an issue. I replaced y 60G electric, nearly 16 years ago, and still going. Probably overdue to replace it, and will probably do that next time they have a sale on them  Either way not worried too much, it is right next to a large drain anyhow. Now, if natural gas was available in my area, that would be a different story ", "EasyCompany251 wrote:  I have a house built around 2003-2004 with a 200A panel. This electric tankless would likely require at least 400A. Are there many new construction houses today fitted with 400A panels (without them being 6000 square feet houses)? Another thing is that having a 400A panel is one thing....the other is whether your local utility can even provide for 400A. This would likely be based upon the transformer available in your area. Based on the rate manual of my local utility, they do not even offer such a high amperage service. I agree, but you can go to 300A/400A service for few thousand if power coming from overhead to house, underground would be a different story. The AC I installed in that townhouse must have been like 1200sq ft , 200A service is nuts as the minimum but I guess with the electric cars becoming the future they need to be at that. OKSpring wrote: Unless you live in Quebec, say hello to sky high electric bills with one of these things. @EasyCompany251 this guy knows  Daijoubu wrote:  In theory both are 100% efficient at heating the water, a tankless doesn't have to keep the water hot however so it's a bit more efficient. And you get an unlimited supply of hot water Pretty much, electric is 100% efficient but then the tank is maintaining the temperature when using it or not which is loss. Emporium wrote: Nice price for sure, but with a 20kw furnace boiler already on my 200A panel, there is no way I could install one of these. This guy is from QC @EasyCompany251 so he knows electric costs are cheap since he is running a 20KW heater in his furnace/air handler.", "lilmikey wrote:  This guy is from QC @EasyCompany251 so he knows electric costs are cheap since he is running a 20KW heater in his furnace/air handler. I don't see your point. With a 20kW furnace (which I have also, but in a form of a boiler with water circulation rads), you are looking at 85A. With a 24k BTU A/C, 2 fridges, 2 stoves, 60G hot water tank, Dryer, washer, etc.., not to mention all the other appliances, there is no way you could add this to a standard 200A service. I'm in QC also, with my current Hydro bill, I feel like a Hydro VIP customer. It hurts at over $4k/yr in hydro costs. So just because hydro price is cheap does not mean you have the infrastructure to support unlimited electrical devices. To be able to have a lot of high power devices, you'd need to upgrade to a 400A service, which is not very common yet (at least not here in QC). This would involve hydro replacing the incoming lines, and a new meter. Then you'd have to get an electrician to do the inside  work. Either complete new panel, or a new main breaker and sub-panels (ugly patches in my opinion). For now, it is overkill for most. However with higher power requirements, like electric car charging outlets and other stuff, it may become more standard going forward. When i bought my house 22yrs ago, they had a 120A service entrance, and ugly main breaker panel with piles of spaghetti subpanels. They already had this 20kw boiler, and let me tell you, it was a fire hazard. You had to see the inside of one of the sub-panels (it was crumbling from the constant overheat). It was the first thing I replaced, and upgraded from a 120A service to a 200A service, ripping out all the subpanels, and replaced with one nice large breaker panel (60 breakers). Best upgrade I even made. Plenty of room to properly isolate everything during other renos (bathroom, kitchen, basement/media room, etc..) With Montreal having already banned wood burning fireplaces for the most part, and trying to slowly ban oil burning furnaces (in the very near future), there won't be much of an option for many people, but electric and upgraded panels. Natural Gaz which I'd love to have in my neighborhood would be nice (for stoves, bbqs, furnace, water heater, etc..), but unfortunately the network is limited and not available in my area. Propane is not a huge option, since I don't have enough space to put the ugly big tank without being legally too close to a neighbor.", 'This is a bad choice if: 1) if you already have gas service 2) your grid is consist of majority of burning fossil fuel 3) You have not invested in solar + battery in your home ', 'Any left at this price? This unit would make a nice boiler for radiant floor heat where gas is not available', 'I picked one up and after analyzing it, its fairly useless for most people. 150A max draw some houses are at 100A total service, newer houses are 200A total service.Upgrading service is like a 5k job to say a 320A so yeah, kind of risk to let this thing draw 150A at any point in time.... Better off getting a 2nd water tank. If someone in Montreal wants one, I can give it to you for cost... PM me', 'Pretty sure the commercial space is the target for this product.', "thesubmitter wrote:  I picked one up and after analyzing it, its fairly useless for most people. 150A max draw some houses are at 100A total service, newer houses are 200A total service.Upgrading service is like a 5k job to say a 320A so yeah, kind of risk to let this thing draw 150A at any point in time.... Better off getting a 2nd water tank. If someone in Montreal wants one, I can give it to you for cost... PM me Lol that's probably why it's clearance. No one has the existing infrastructure in their homes to power the tankless electric water heater, and it costs way too much to upgrade homes to make the heater work.", "I was recently involved in a project where a 400a service was installed in a residential building. Apart from the obvious extra cost of the materials, the electricians were not that well versed in the install as they hadn't done one in over 5 years. The local electrical suppliers didn't even carry stock on a lot of the required materials. HydroOne didn't really have an issue with it (surprisingly) once you talked to the right people. I never saw the final bill, but if I believe the final bill for the service was 2 to 3 times that of a convention 200a service. In my opinion, I think you have some much better options out there for the delivery of hot water. This unit is geared at a pretty niche market.", "Daijoubu wrote:  Install is going to cost you, 4x 40A breakers and 4 runs of NMD 8/2 I'm not sure why the other guys are guessing when it says this right on the product page.", 'Kanus wrote:  You might have to upgrade your electrical service to use this. 36 kw at 240 volts works out to 150 amps. Lots of houses only have 100 amp services.  Better to have a gas tankless water heater if you have gas service. AND Hydro rates are very expensive', 'cwb27 wrote:  Pretty sure the commercial space is the target for this product. Commercial will probably have 3 phases lol', 'Daijoubu wrote:  Commercial will probably have 3 phases lol Sure, but not always the case.', '@looking4junk  Hey OP, what are you using this for?', "Emporium wrote:  I don't see your point. With a 20kW furnace (which I have also, but in a form of a boiler with water circulation rads), you are looking at 85A. With a 24k BTU A/C, 2 fridges, 2 stoves, 60G hot water tank, Dryer, washer, etc.., not to mention all the other appliances, there is no way you could add this to a standard 200A service. I'm in QC also, with my current Hydro bill, I feel like a Hydro VIP customer. It hurts at over $4k/yr in hydro costs. So just because hydro price is cheap does not mean you have the infrastructure to support unlimited electrical devices. To be able to have a lot of high power devices, you'd need to upgrade to a 400A service, which is not very common yet (at least not here in QC). This would involve hydro replacing the incoming lines, and a new meter. Then you'd have to get an electrician to do the inside  work. Either complete new panel, or a new main breaker and sub-panels (ugly patches in my opinion). For now, it is overkill for most. However with higher power requirements, like electric car charging outlets and other stuff, it may become more standard going forward. When i bought my house 22yrs ago, they had a 120A service entrance, and ugly main breaker panel with piles of spaghetti subpanels. They already had this 20kw boiler, and let me tell you, it was a fire hazard. You had to see the inside of one of the sub-panels (it was crumbling from the constant overheat). It was the first thing I replaced, and upgraded from a 120A service to a 200A service, ripping out all the subpanels, and replaced with one nice large breaker panel (60 breakers). Best upgrade I even made. Plenty of room to properly isolate everything during other renos (bathroom, kitchen, basement/media room, etc..) With Montreal having already banned wood burning fireplaces f

The only way to clean these strings up will be through regular expressions. 

The following should be removed:  
* ↑ symbols
* \n new line characters
* urls

In [10]:
# ↑ symbols
arrow_removed = [re.sub("↑+","", str(string)) for string in df_comments['comments']]
# \n characters
newline_removed = [re.sub("\\n+"," ",string) for string in arrow_removed]
# urls
urls_removed = [re.sub(r"\bhttp.+"," ",string) for string in newline_removed]
# Assign cleaned comments back
df_comments['comments'] = pd.Series(urls_removed)

# first 100 comments of cleaned table
print([x for x in df_comments['comments'][0:100]])

["Purchased in store by a friend for 289+tax. Went back and got another for me for the same price. Not sure if it's a price error or a real sale. ", 'Which store location? Do you have a picture of the advertised sticker price or receipt to price match? Hard to get this hot deal without much to go on', 'OOS in BC', 'Saint John, NB. Receipt posted!', 'Only seems to be in stock (or is it) in Scarborough in GTA.', 'You might have to upgrade your electrical service to use this. 36 kw at 240 volts works out to 150 amps. Lots of houses only have 100 amp services.  Better to have a gas tankless water heater if you have gas service.', "Kanus wrote:  You might have to upgrade your electrical service to use this. 36 kw at 240 volts works out to 150 amps. Lots of houses only have 100 amp services.  Better to have a gas tankless water heater if you have gas service. Even with 200A... Lets say furnace is ON, this is 66A at my house. We are at 200 - 66 - 150 and we are already in the negative. Doesn't include dishwasher, oven, dryer, washer, TV, etc You would need 2x200. The cost to get that is minimal compared to the heater.", 'Picked a few up for the renovation in Laval, one left. Price on the shelf is 289', 'Seems like it would use a ton of electricity. An hour a day would be over 1000 kWh a month. I assume most of us would run it more than an hour a day.', 'Is the pricing store specific? Like you walk into your local store and have them pm OP receipt? That flies?', "Chewfam wrote: Seems like it would use a ton of electricity. An hour a day would be over 1000 kWh a month. I assume most of us would run it more than an hour a day. Provinces like Quebec electric is cheaper than gas or on par but in a place like Ontario no chance I'd get electric furnace/tankless. If ever gets on par than yes electric for everything as 100% efficiency and less parts than a gas appliance. As with electrical prices in Ontario now won't be for decades.", "I've never had a tankless system, but I've been interested in them. If I understand correctly, this unit would be ideal to be installed for use in a bathroom, but wouldn't work for a whole home. Is that about right? I'm redoing my bathroom in Augustv and thought this might be a good addition, at this price.", 'I’ve heard in cold climates that they can’t get freezing cold water hot enough fast enough . Not sure if this applies to this unit', "dhomas wrote:  I've never had a tankless system, but I've been interested in them. If I understand correctly, this unit would be ideal to be installed for use in a bathroom, but wouldn't work for a whole home. Is that about right? I'm redoing my bathroom in Augustv and thought this might be a good addition, at this price. I think it's rated to supply 2 showers simultaneously, so I'd say 2 bathrooms with showers. If somebody has to do a quick handwash while both showers are running, the temp should not change significantly, assuming a standard temperature-balancing faucet.  I have a small single-point-of-use electric water heater and I think these things are rated conservatively to avoid complaints from customers about not being hot enough.", "thesubmitter wrote:  I’ve heard in cold climates that they can’t get freezing cold water hot enough fast enough . Not sure if this applies to this unit It's based on the starting temperature of the incoming water. At my cottage it comes in at around 5-10 degrees in the spring, but 25 in the summer. So there is a corresponding difference at the tap of course. It can only raise the incoming water temperature a set amount based on the wattage of the element.  If you're on city/town water there's not so much difference between summer and winter incoming water temps.", "Inno wrote:  I think it's rated to supply 2 showers simultaneously, so I'd say 2 bathrooms with showers. If somebody has to do a quick handwash while both showers are running, the temp should not change significantly, assuming a standard temperature-balancing faucet.  I have a small single-point-of-use electric water heater and I think these things are rated conservatively to avoid complaints from customers about not being hot enough. Thanks for the info! I indeed have 2 bathrooms, but I would seldom use them at once. I suppose this could then replace my giant 60 gallon tank for my whole house? In total throughout the house, I have one full bathroom (with bath), one bathroom with shower only, a dishwasher, 3 bathroom faucets, and a kitchen faucet. Anyone have any advice on if this would be sufficient? (I'm in Montreal, so the electricity costs are minimal). Thanks for any advice!", "lilmikey wrote:  Provinces like Quebec electric is cheaper than gas or on par but in a place like Ontario no chance I'd get electric furnace/tankless. If ever gets on par than yes electric for everything as 100% efficiency and less parts than a gas appliance. As with electrical prices in Ontario now won't be for decades. I have a fairly big house and I use 23000 / year. Adding 1000 / month mean an increase of 50%. This is insane even in QC. This unit will not save you money. Period.", 'How is it possible for people to install this? As previously mentioned, this requires 150 amps. Most modern day houses only have 200 amps fuse boxes. You would need a sub panel at minimum.', 'EasyCompany251 wrote: How is it possible for people to install this? As previously mentioned, this requires 150 amps. Most modern day houses only have 200 amps fuse boxes. You would need a sub panel at minimum. Minimum panels for homes now are 200 amp , just installed an AC in a townhouse and was shocked it had a 200A panel.', 'SquadG wrote:  I have a fairly big house and I use 23000 / year. Adding 1000 / month mean an increase of 50%. This is insane even in QC. This unit will not save you money. Period. In Quebec electric furnaces with heatpumps are more common than gas furnaces for the reasons I stated "cheap hydro". Would be crazy to have electric furnace in Ontario.', 'We have a 22kw electric furnace and that thing is expensive to run,We dont have gas here.. Ive wanted one of these to replace a 60 gal tank. We have a 200amp service. Now is it going to be cheaper then the 60 cal tank and will it run with my furance at same time', "Just went to the Anjou store. They had the tag at 289$ but none left in the store (I asked an associate).  Still interested in learning more about these though. Are the energy requirements really as crazy as they seem? I'd really like to free up the space my 60 gallon tank takes, but not if it costs me twice as much in electricity costs.", 'This link may be useful for people. Data sheet for these.   ', 'lilmikey wrote:  Minimum panels for homes now are 200 amp , just installed an AC in a townhouse and was shocked it had a 200A panel. I have a house built around 2003-2004 with a 200A panel. This electric tankless would likely require at least 400A. Are there many new construction houses today fitted with 400A panels (without them being 6000 square feet houses)? Another thing is that having a 400A panel is one thing....the other is whether your local utility can even provide for 400A. This would likely be based upon the transformer available in your area. Based on the rate manual of my local utility, they do not even offer such a high amperage service.', 'Unless you live in Quebec, say hello to sky high electric bills with one of these things.', 'Install is going to cost you, 4x 40A breakers and 4 runs of NMD 8/2', "This thing is plain stupid. If you find your electric water heater isn't providing hot water quickly enough, then have each heating element on its own wire/breaker. For example, a 4800W tank will need two 30amps @ 240V breaker and will consume up to 9600W. Cut heating time by about 50%. And 40amps can fit in a 100/200amps panel. If you need to know more read this thread.", "Isn't the main reason why this needs so much electricity is to keep a heat exchanger ripping hot so water flowing past at 90psi can be heated to 120F in an instant? At least with a tank the heater has the opportunity to heat water up slowly and burn less electricity?", "I've had a Rinnai RL75iN tankless natural gas water heater for years. One of the best makes out there. The only thing I've ever done is pump vinegar through it a couple of times, (very easy to do with an aquarium pump and a pail... our water is hard) and yesterday I had to take the exhaust fan out to vacuum the dead bees and moths out of it as it was giving a code 10 error once in a while. This spring in Saskatchewan is very bad for moths, for some reason. Not bad for 20 years of virtually trouble free service. We are on very cold well water on our acreage as well.  I can't recommend these more... no more heating 60 or more gallons of water 24/7. I would caution against the electric model, unless perhaps you're in Quebec where rates are cheap. The natural gas only requires a regular electrical outlet, and a 3/4 in gas line to feed it.  I've saved many $100's on natural gas over the years.", "3ajs wrote:  Isn't the main reason why this needs so much electricity is to keep a heat exchanger ripping hot so water flowing past at 90psi can be heated to 120F in an instant? At least with a tank the heater has the opportunity to heat water up slowly and burn less electricity? In theory both are 100% efficient at heating the water, a tankless doesn't have to keep the water hot however so it's a bit more efficient. And you get an unlimited supply of hot water. I've been using a 27kw chinese one for a couple of years now, requires decalc/maintenance every 6 months as the water here is on the harder side. You can also get sudden increase in temperature if someone else is using (lots) hot water and turn off their faucet elsewhere because the heat then have no where else to go. Best if you can install a temperature mixing valve at the output to prevent this... I set mine to 37-38C so there's less energy waste to heat it to 60C and mixing with cold water, I get warm water on the hot side and reduces risk of scaling, eg with kids. I think when it goes. I'll get a heat pump tank instead, takes more room but less issues and above 100% efficiency.", 'NG and I would be all over this.', 'CaptSmethwick wrote:  NG and I would be all over this. I was lucky, I bought my Rinnai RL75iN on eBay 20 years ago for about 1/2 what they cost now, installed it myself, (super easy) and had a friend with a gas ticket hook it up, then inspected.  Love it.', "Nice price for sure, but with a 20kw furnace boiler already on my 200A panel, there is no way I could install one of these. Most decent bottom entry 60G hot water tanks don't use that much electricity on standby to maintain the water temp anyhow. Most have decent insolation around the tank, and the bottom element may come on once in while, but nothing drastic. Yes, if you are going on an extended vacation, you may as well shut it off, but otherwise, I don't see an issue. I replaced y 60G electric, nearly 16 years ago, and still going. Probably overdue to replace it, and will probably do that next time they have a sale on them  Either way not worried too much, it is right next to a large drain anyhow. Now, if natural gas was available in my area, that would be a different story ", "EasyCompany251 wrote:  I have a house built around 2003-2004 with a 200A panel. This electric tankless would likely require at least 400A. Are there many new construction houses today fitted with 400A panels (without them being 6000 square feet houses)? Another thing is that having a 400A panel is one thing....the other is whether your local utility can even provide for 400A. This would likely be based upon the transformer available in your area. Based on the rate manual of my local utility, they do not even offer such a high amperage service. I agree, but you can go to 300A/400A service for few thousand if power coming from overhead to house, underground would be a different story. The AC I installed in that townhouse must have been like 1200sq ft , 200A service is nuts as the minimum but I guess with the electric cars becoming the future they need to be at that. OKSpring wrote: Unless you live in Quebec, say hello to sky high electric bills with one of these things. @EasyCompany251 this guy knows  Daijoubu wrote:  In theory both are 100% efficient at heating the water, a tankless doesn't have to keep the water hot however so it's a bit more efficient. And you get an unlimited supply of hot water Pretty much, electric is 100% efficient but then the tank is maintaining the temperature when using it or not which is loss. Emporium wrote: Nice price for sure, but with a 20kw furnace boiler already on my 200A panel, there is no way I could install one of these. This guy is from QC @EasyCompany251 so he knows electric costs are cheap since he is running a 20KW heater in his furnace/air handler.", "lilmikey wrote:  This guy is from QC @EasyCompany251 so he knows electric costs are cheap since he is running a 20KW heater in his furnace/air handler. I don't see your point. With a 20kW furnace (which I have also, but in a form of a boiler with water circulation rads), you are looking at 85A. With a 24k BTU A/C, 2 fridges, 2 stoves, 60G hot water tank, Dryer, washer, etc.., not to mention all the other appliances, there is no way you could add this to a standard 200A service. I'm in QC also, with my current Hydro bill, I feel like a Hydro VIP customer. It hurts at over $4k/yr in hydro costs. So just because hydro price is cheap does not mean you have the infrastructure to support unlimited electrical devices. To be able to have a lot of high power devices, you'd need to upgrade to a 400A service, which is not very common yet (at least not here in QC). This would involve hydro replacing the incoming lines, and a new meter. Then you'd have to get an electrician to do the inside  work. Either complete new panel, or a new main breaker and sub-panels (ugly patches in my opinion). For now, it is overkill for most. However with higher power requirements, like electric car charging outlets and other stuff, it may become more standard going forward. When i bought my house 22yrs ago, they had a 120A service entrance, and ugly main breaker panel with piles of spaghetti subpanels. They already had this 20kw boiler, and let me tell you, it was a fire hazard. You had to see the inside of one of the sub-panels (it was crumbling from the constant overheat). It was the first thing I replaced, and upgraded from a 120A service to a 200A service, ripping out all the subpanels, and replaced with one nice large breaker panel (60 breakers). Best upgrade I even made. Plenty of room to properly isolate everything during other renos (bathroom, kitchen, basement/media room, etc..) With Montreal having already banned wood burning fireplaces for the most part, and trying to slowly ban oil burning furnaces (in the very near future), there won't be much of an option for many people, but electric and upgraded panels. Natural Gaz which I'd love to have in my neighborhood would be nice (for stoves, bbqs, furnace, water heater, etc..), but unfortunately the network is limited and not available in my area. Propane is not a huge option, since I don't have enough space to put the ugly big tank without being legally too close to a neighbor.", 'This is a bad choice if: 1) if you already have gas service 2) your grid is consist of majority of burning fossil fuel 3) You have not invested in solar + battery in your home ', 'Any left at this price? This unit would make a nice boiler for radiant floor heat where gas is not available', 'I picked one up and after analyzing it, its fairly useless for most people. 150A max draw some houses are at 100A total service, newer houses are 200A total service.Upgrading service is like a 5k job to say a 320A so yeah, kind of risk to let this thing draw 150A at any point in time.... Better off getting a 2nd water tank. If someone in Montreal wants one, I can give it to you for cost... PM me', 'Pretty sure the commercial space is the target for this product.', "thesubmitter wrote:  I picked one up and after analyzing it, its fairly useless for most people. 150A max draw some houses are at 100A total service, newer houses are 200A total service.Upgrading service is like a 5k job to say a 320A so yeah, kind of risk to let this thing draw 150A at any point in time.... Better off getting a 2nd water tank. If someone in Montreal wants one, I can give it to you for cost... PM me Lol that's probably why it's clearance. No one has the existing infrastructure in their homes to power the tankless electric water heater, and it costs way too much to upgrade homes to make the heater work.", "I was recently involved in a project where a 400a service was installed in a residential building. Apart from the obvious extra cost of the materials, the electricians were not that well versed in the install as they hadn't done one in over 5 years. The local electrical suppliers didn't even carry stock on a lot of the required materials. HydroOne didn't really have an issue with it (surprisingly) once you talked to the right people. I never saw the final bill, but if I believe the final bill for the service was 2 to 3 times that of a convention 200a service. In my opinion, I think you have some much better options out there for the delivery of hot water. This unit is geared at a pretty niche market.", "Daijoubu wrote:  Install is going to cost you, 4x 40A breakers and 4 runs of NMD 8/2 I'm not sure why the other guys are guessing when it says this right on the product page.", 'Kanus wrote:  You might have to upgrade your electrical service to use this. 36 kw at 240 volts works out to 150 amps. Lots of houses only have 100 amp services.  Better to have a gas tankless water heater if you have gas service. AND Hydro rates are very expensive', 'cwb27 wrote:  Pretty sure the commercial space is the target for this product. Commercial will probably have 3 phases lol', 'Daijoubu wrote:  Commercial will probably have 3 phases lol Sure, but not always the case.', '@looking4junk  Hey OP, what are you using this for?', "Emporium wrote:  I don't see your point. With a 20kW furnace (which I have also, but in a form of a boiler with water circulation rads), you are looking at 85A. With a 24k BTU A/C, 2 fridges, 2 stoves, 60G hot water tank, Dryer, washer, etc.., not to mention all the other appliances, there is no way you could add this to a standard 200A service. I'm in QC also, with my current Hydro bill, I feel like a Hydro VIP customer. It hurts at over $4k/yr in hydro costs. So just because hydro price is cheap does not mean you have the infrastructure to support unlimited electrical devices. To be able to have a lot of high power devices, you'd need to upgrade to a 400A service, which is not very common yet (at least not here in QC). This would involve hydro replacing the incoming lines, and a new meter. Then you'd have to get an electrician to do the inside  work. Either complete new panel, or a new main breaker and sub-panels (ugly patches in my opinion). For now, it is overkill for most. However with higher power requirements, like electric car charging outlets and other stuff, it may become more standard going forward. When i bought my house 22yrs ago, they had a 120A service entrance, and ugly main breaker panel with piles of spaghetti subpanels. They already had this 20kw boiler, and let me tell you, it was a fire hazard. You had to see the inside of one of the sub-panels (it was crumbling from the constant overheat). It was the first thing I replaced, and upgraded from a 120A service to a 200A service, ripping out all the subpanels, and replaced with one nice large breaker panel (60 breakers). Best upgrade I even made. Plenty of room to properly isolate everything during other renos (bathroom, kitchen, basement/media room, etc..) With Montreal having already banned wood burning fireplaces f

In [11]:
# Save cleaned comment table as file
df_comments.to_csv('rfd_comments.csv')

df_comments.head()

,title,comments
0,Rheem 36kW Electric Tankless Water Heater Reg....,Purchased in store by a friend for 289+tax. We...
1,Rheem 36kW Electric Tankless Water Heater Reg....,Which store location? Do you have a picture of...
2,Rheem 36kW Electric Tankless Water Heater Reg....,OOS in BC
3,Rheem 36kW Electric Tankless Water Heater Reg....,"Saint John, NB. Receipt posted!"
4,Rheem 36kW Electric Tankless Water Heater Reg....,Only seems to be in stock (or is it) in Scarbo...

### Main table

In [12]:
# Copy of raw data set
df = df_raw.copy()

# List of tuples: (column name, column dtype)
col_dtypes = [(col, type(x)) for x,col in zip(df.iloc[0], df.columns)]

# Print tuple for columns containing dates
for col in col_dtypes:
    if col[0] in ['creation_date', 'last_reply', 'expiry']:
        print(col[0], ': ', col[1])

creation_date :  <class 'str'>
expiry :  <class 'float'>
last_reply :  <class 'str'>

None of the columns are formatted as datetime. To facilitate working with the dates, we will convert them to datetime.

### Convert date columns to datetime dtype

In [13]:
def to_datetime(column_name: str) -> pd.Series:
    """
    Converts a column of either format "%b %d, %Y %I:%M %p"
    or format "%B %d, %Y" from string to date-time
    
    Args:
    date_column - name of column with dates encoded as strings
    
    Returns:
    Column elements converted to datetime in a pandas.Series object
    """    
    # Superfluous characters removed
    column_clean = df[column_name].str.replace("st","").str.replace("nd","")\
                        .str.replace("rd","").str.replace("th","").str.strip()
    
    # Check for correct length of cleaned column
    column_len = len(column_clean)
    print("Cleaned and original column are of equal lenght: ", 
          column_len == len(df[column_name]), "\n")
    
    # Convert each entry from format "%b %d, %Y %I:%M %p" to datetime
    date_column = []
    try:
        date_column = column_clean.apply(lambda x :\
                        datetime.datetime.strptime(str(x), "%b %d, %Y %I:%M %p"))
    except: 
        print("\"%b %d, %Y %I:%M %p\" is incorrect format")
        pass
    
    # Convert from format "%B %d, %Y" to datetime
    for date in df[column_name]:
        if date is not np.nan:
            try:
                date_column.append(datetime.datetime.strptime(date, "%B %d, %Y"))
            except: 
                print("\"%B %d, %Y\" is incorrect format for", date)
                break
        else: 
            date_column.append(None)
    
    if len(date_column) != column_len:
        print("\n", "Incorrect column length!\n")
    else:
        print("\n", "Column has expected length!\n")
    
    return pd.Series(date_column)

In [14]:
# creation_date column converted to datetime
creation_date = to_datetime('creation_date')

# Compare random slice of original and converted column
print(creation_date.iloc[99:105], "\n")
print(df.loc[99:104, 'creation_date'])

Cleaned and original column are of equal lenght:  True

"%B %d, %Y" is incorrect format for Jul 16th, 2020 8:29 am

 Column has expected length!

99    2020-07-16 20:38:00
100   2020-07-13 13:49:00
101   2020-07-15 21:33:00
102   2020-06-13 16:26:00
103   2020-07-09 17:42:00
104   2020-07-06 03:46:00
Name: creation_date, dtype: datetime64[ns]

99     Jul 16th, 2020 8:38 pm
100    Jul 13th, 2020 1:49 pm
101    Jul 15th, 2020 9:33 pm
102    Jun 13th, 2020 4:26 pm
103     Jul 9th, 2020 5:42 pm
104     Jul 6th, 2020 3:46 am
Name: creation_date, dtype: object

In [15]:
# last_reply column converted to datetime
last_reply = to_datetime('last_reply')

# Print original and new column for comparison
print(last_reply.iloc[208:215], "\n")
print(df.loc[208:214, 'last_reply'])

Cleaned and original column are of equal lenght:  True

"%B %d, %Y" is incorrect format for Jul 17th, 2020 9:20 am

 Column has expected length!

208   2020-07-16 13:56:00
209   2020-07-16 13:56:00
210   2020-07-16 13:54:00
211   2020-07-16 13:39:00
212   2020-07-16 13:36:00
213   2020-07-16 13:29:00
214   2020-07-16 13:26:00
Name: last_reply, dtype: datetime64[ns]

208    Jul 16th, 2020 1:56 pm
209    Jul 16th, 2020 1:56 pm
210    Jul 16th, 2020 1:54 pm
211    Jul 16th, 2020 1:39 pm
212    Jul 16th, 2020 1:36 pm
213    Jul 16th, 2020 1:29 pm
214    Jul 16th, 2020 1:26 pm
Name: last_reply, dtype: object

In [16]:
expiry = to_datetime('expiry')
print(expiry.iloc[150:157], "\n")
print(df.loc[150:156, 'expiry'])

Cleaned and original column are of equal lenght:  True

"%b %d, %Y %I:%M %p" is incorrect format

 Column has expected length!

150   2020-07-22
151          NaT
152          NaT
153          NaT
154          NaT
155          NaT
156          NaT
dtype: datetime64[ns]

150    July 22, 2020
151              NaN
152              NaN
153              NaN
154              NaN
155              NaN
156              NaN
Name: expiry, dtype: object

The to_datetime() function appears to correctly convert each of the columns. The results can now be used in the DataFrame.

In [17]:
# Assign datetime columns to DataFrame
df.expiry = expiry
df.last_reply = last_reply
df.creation_date = creation_date

# Verify dates
df.head()

,author,creation_date,expiry,last_reply,parent_category,price,replies,saving,source,thread_category,title,url,views,votes
0,flora0222,2020-07-16 08:29:00,NaT,2020-07-17 09:20:00,NaN,6.99,89,NaN,Staples,Home & Garden,"One Step Hand Sanitizer, Fragrance-Free, 473mL...",https://staplescanada.4u8mqw.net/c/341376/7554...,15445,132
1,yellowmp5,2020-07-13 13:29:00,NaT,2020-07-17 09:18:00,NaN,NaN,441,NaN,Home Depot,Home & Garden,RYOBI 20% coupon barcode,NaN,59219,159
2,riseagainstthemachine,2020-07-02 10:03:00,NaT,2020-07-17 09:17:00,NaN,free,92,NaN,NaN,Apparel,Kits.com Free Pair Prescription Glasses,https://www.kits.com/freeglasses.html,25242,54
3,Googliya,2020-07-17 07:23:00,NaT,2020-07-17 09:15:00,NaN,469.99,13,NaN,Costco,Sports & Fitness,"Northrock xc00, fat Tire bike, $469.99",https://www.costco.ca/northrock-xc00-fat-tire-...,1769,2
4,Presents,2020-07-16 13:36:00,2020-07-29,2020-07-17 09:15:00,NaN,NaN,24,NaN,Canadian Tire,Automotive,60x total CT Money when you pay with your Tria...,NaN,2981,9

### Dealing with missing data: `source`

In [18]:
df.loc[:, ['source', 'title']].head()

          source                                              title
0        Staples  One Step Hand Sanitizer, Fragrance-Free, 473mL...
1     Home Depot                           RYOBI 20% coupon barcode
2            NaN            Kits.com Free Pair Prescription Glasses
3         Costco             Northrock xc00, fat Tire bike, $469.99
4  Canadian Tire  60x total CT Money when you pay with your Tria...

It is possible, that users simply forgot to include the source of the deal. We will check if missing sources are mentioned in the corresponding title.

In [19]:
# Set of entries in 'source' column
retailer_set = set(df['source'].dropna())
print("Number of unique sources: ", len(retailer_set))
print(df.source.isnull().sum(), "missing values in source column")

Number of unique sources:  148
339 missing values in source column

The large number of unique sources is promising! 

Next we will use the set previously created to itterate through the titles an check if any of the unique source names are present. If a source name from the set is found in `title` and no value is found in the corresponding `source` column, then the index as well as the source name are saved in the `replace` dictinoary.

In [20]:
replace_dict = {} # key: index; value: retailer name to replace missing source value at index

# Iterate through set of unique values from source source column
for retailer in retailer_set:
    """Fill replace dictioray with indecies and source names. Entries are made
    when a source name is found in the title column while the corresponding source entry
    is empty."""
    
    # Iterate through 'source' and 'title' columns row-by-row
    # Generate boolean array: True if unique source name (retailer) found in "title" and "source" is np.nan
    source_missing_and_in_title = np.array([retailer in title 
                                     if source is np.nan else False
                                     for title,source in zip(df.title, df.source)])
    
    # Indecies for which source_missing_and_in_title is True
    replacement_indicies = np.where(source_missing_and_in_title == True)[0]
    # Fill "replace" dictionary
    for index in replacement_indicies:
        if index not in replace_dict.keys():
            replace_dict[index] = retailer

print("Replacements found in 'title':", len(replace_dict.values()))

Replacements found in 'title': 37

Some missing sources can be replaced by information found in the title. We will use the indecies and values stored in `replace_dict` to replace the appropriate values.

In [21]:
source_list = list(df.source) # copy of source column 
missing_start = sum([x is np.nan for x in source_list]) # missing values before cleaning
print("Missing source values before replacement:", missing_start)

for replace in replace_dict.items():
    index = replace[0]
    source_replacement = replace[1]
    source_list[index] = source_replacement

missing_end = sum([x is np.nan for x in source_list]) # missing values after cleaning
print("Missing source values after replacement:", missing_end)
replaced_count = missing_start-missing_end # number of replaced values
print(replaced_count, "missing source records have been replaced!")

Missing source values before replacement: 339
Missing source values after replacement: 302
37 missing source records have been replaced!

All identified `source` records have been replaced with apporiate names of retailers found in the corrseponding `title` column. The new `source` column can now replace the old one.

In [22]:
df.source = source_list
print("Number of missing values as expected:", (df.source.isnull().sum() == missing_end))

Number of missing values as expected: True

Further substitutions for missing `source` values may be found in the `url` column. The objective is to extract company names from the urls and use them to further replace missing values.

In [23]:
# 'url' entries of rows with missing source values
url_replacement = df[df.source.isnull()].url
print(url_replacement.notnull().sum(), "missing source values have corresponding urls")
url_replacement.head()

245 missing source values have corresponding urls

2                 https://www.kits.com/freeglasses.html
6     http://go.redirectingat.com?id=2927x594702&amp...
10                 https://www.ivctel.com/Internet/Plan
25    https://www.awin1.com/awclick.php?gid=340116&a...
27    http://www.amazon.ca/gp/redirect.html?ie=UTF8&...
Name: url, dtype: object

The urls need to be split and cleaned to extract the name of the organisation. The final cleaned values and their corresponding indicies in the DataFrame will be stored in the `clean_urls` disctionary.

In [24]:
clean_urls = {} # key: index in df, value: cleaned url
indicies = url_replacement.index

for url in zip(indicies, url_replacement):
    index = url[0]
    replacement_url = url[1]
    
    # Clean if url value not missing
    if replacement_url is not np.nan:
        url_root = replacement_url.split("//")[1].split("/")[0].split("?")[0].replace("www.", "")
        removed_domain = url_root.split(".")
        clean_urls[index] = removed_domain
    else:
        clean_urls[index] = np.nan
        
print(clean_urls)

{2: ['kits', 'com'], 6: ['go', 'redirectingat', 'com'], 10: ['ivctel', 'com'], 25: ['awin1', 'com'], 27: ['amazon', 'ca'], 31: ['awin1', 'com'], 34: ['oxio', 'ca'], 44: ['twitter', 'com'], 50: ['outilspierreberger', 'com'], 53: ['play', 'google', 'com'], 58: ['outilspierreberger', 'com'], 59: ['outilspierreberger', 'com'], 66: ['slickdeals', 'net'], 69: ['amazon', 'ca'], 81: ['buyapi', 'ca'], 86: ['go', 'redirectingat', 'com'], 97: nan, 98: nan, 101: nan, 109: nan, 112: nan, 113: nan, 115: ['schweser', 'com'], 117: ['tkqlhce', 'com'], 119: ['tkqlhce', 'com'], 134: ['performancehealth', 'ca'], 135: ['poppacorn', 'ca'], 144: ['amazon', 'ca'], 145: ['anrdoezrs', 'net'], 160: nan, 161: ['rover', 'ebay', 'com'], 162: ['ebox', 'ca'], 163: ['altimatel', 'com'], 165: ['detourcoffee', 'com'], 166: ['awin1', 'com'], 169: nan, 173: ['amazon', 'ca'], 177: ['kits', 'com'], 178: ['ninjakitchen', 'com'], 179: ['ninjakitchen', 'com'], 185: ['register', 'ubisoft', 'com'], 186: ['go', 'redirectingat', 'com'], 187: ['sharkclean', 'com'], 188: nan, 190: ['shop', 'styledemocracy', 'com'], 191: ['amazon', 'ca'], 196: ['amazon', 'ca'], 201: nan, 203: ['jdoqocy', 'com'], 206: ['ca', 'miele', 'ca'], 211: ['costco', 'ca'], 213: ['theflashsale', 'com'], 216: ['activebaby', 'ca'], 220: ['ampli', 'ca'], 224: nan, 229: nan, 230: ['twitter', 'com'], 231: nan, 233: ['click', 'linksynergy', 'com'], 234: nan, 235: ['amazon', 'ca'], 237: ['click', 'linksynergy', 'com'], 238: ['rakuten', 'ca'], 239: ['rakuten', 'ca'], 240: ['adobe', 'com'], 245: ['amazon', 'ca'], 248: ['amazon', 'ca'], 249: ['amazon', 'ca'], 255: ['go', 'redirectingat', 'com'], 256: ['amazon', 'ca'], 258: ['crescentindustries', 'ca'], 259: ['svpsports', 'ca'], 260: ['play', 'google', 'com'], 264: ['amazon', 'ca'], 265: ['econsumer', 'equifax', 'ca'], 266: nan, 267: ['click', 'linksynergy', 'com'], 286: ['amazon', 'ca'], 291: ['mailchi', 'mp'], 294: ['kqzyfj', 'com'], 299: ['rakuten', 'ca'], 314: ['ginospizza', 'ca'], 315: nan, 321: ['store', 'playstation', 'com'], 330: ['fadedsoul', 'com'], 331: nan, 335: nan, 344: nan, 346: ['svpsports', 'ca'], 353: ['getmyoffers', 'ca'], 355: ['mobvoi', 'com'], 356: ['go', 'redirectingat', 'com'], 362: ['awin1', 'com'], 363: ['toronto', 'ca'], 366: ['quincailleriedante', 'com'], 368: nan, 369: ['us', 'gamesplanet', 'com'], 370: ['awin1', 'com'], 374: nan, 378: ['store', 'insta360', 'com'], 380: ['costco', 'ca'], 382: ['cityfone', 'net'], 386: nan, 387: ['teasante', 'com'], 391: nan, 395: ['go', 'redirectingat', 'com'], 398: ['levis-canada', 'sjv', 'io'], 404: ['carrytel', 'ca'], 406: ['metopera', 'org'], 410: ['go', 'redirectingat', 'com'], 417: ['click', 'linksynergy', 'com'], 434: ['shoprbc', 'com'], 435: ['sherwin-williams', 'ca'], 439: ['click', 'linksynergy', 'com'], 455: ['alltrails', 'com'], 472: ['bcfasteners', 'com'], 478: ['apps', 'apple', 'com'], 479: ['amazon', 'ca'], 484: ['bccamera', 'com'], 485: ['tkqlhce', 'com'], 492: ['pi-co', 'ca'], 496: ['cdkeys', 'com'], 508: ['signup', 'easynews', 'com'], 509: ['tsc', 'ca'], 516: nan, 518: ['canadiantire', 'ca'], 519: ['fujifilmprintlife', 'ca'], 524: ['mysimplemarketplace', 'com'], 527: ['tanguay', 'ca'], 541: ['awin1', 'com'], 558: nan, 562: nan, 563: nan, 565: ['kqzyfj', 'com'], 567: nan, 571: ['drop', 'com'], 572: ['svpsports', 'ca'], 576: ['outterlimits', 'com'], 581: ['playolg', 'ca'], 583: ['click', 'linksynergy', 'com'], 592: ['amazon', 'ca'], 593: ['canex', 'ca'], 599: ['costco', 'ca'], 602: ['store', 'playstation', 'com'], 613: ['click', 'linksynergy', 'com'], 614: nan, 619: ['elac', 'com'], 622: ['facebook', 'com'], 623: nan, 626: nan, 627: nan, 628: ['wellwise', 'ca'], 629: ['wellwise', 'ca'], 644: ['amazon', 'ca'], 646: ['burton', 'com'], 651: ['tkqlhce', 'com'], 653: ['cdkeys', 'com'], 661: ['fastchargedocks', 'com'], 662: nan, 667: ['shop', 'lindt', 'ca'], 668: ['formula1', 'com'], 669: ['gotransit', 'com'], 674: ['the-home-depot-ca', 'pxf', 'io'], 676: nan, 685: ['try', 'fender', 'com'], 686: ['ionos', 'ca'], 689: ['simplii', 'com'], 690: ['amazon', 'ca'], 693: ['costco', 'ca'], 696: ['costco', 'ca'], 697: ['wellwise', 'ca'], 700: nan, 702: nan, 711: ['amazon', 'ca'], 712: nan, 738: ['bestbuyca', 'o93x', 'net'], 742: ['anrdoezrs', 'net'], 756: ['aeroplan-bg-sso', 'points', 'com'], 758: ['bit', 'ly'], 772: ['anrdoezrs', 'net'], 783: ['click', 'linksynergy', 'com'], 785: ['googleadservices', 'com'], 787: ['kqzyfj', 'com'], 795: ['billing', 'frugalusenet', 'com'], 797: ['amazon', 'ca'], 799: ['awin1', 'com'], 802: ['therecroom', 'com'], 804: ['decathalon-canada', 'mkr3', 'net'], 816: ['bestbuyca', 'o93x', 'net'], 818: ['amazon', 'ca'], 821: ['speakout7eleven', 'ca'], 831: ['uberats', 'ca'], 834: ['kelloggsgrocerycash', 'ca'], 836: ['click', 'linksynergy', 'com'], 839: ['edifier', 'com'], 843: nan, 844: ['ca', 'manscaped', 'com'], 847: ['click', 'linksynergy', 'com'], 849: nan, 850: ['click', 'linksynergy', 'com'], 852: ['awin1', 'com'], 856: nan, 864: ['play', 'google', 'com'], 871: ['everyonerides', 'org'], 878: ['oculus', 'com'], 880: ['americanexpress', 'com'], 891: ['cashback', 'highinterestsavings', 'ca'], 898: nan, 902: ['lenovo', 'evyy', 'net'], 909: ['go', 'redirectingat', 'com'], 913: ['rallyforrestaurants', 'ca'], 916: ['oculus', 'com'], 918: ['idrinkcoffee', 'com'], 925: nan, 927: ['cosmeticscompanystore', 'com'], 928: ['napoleon', 'com'], 929: ['napoleon', 'com'], 932: ['brampton', 'ca'], 933: ['treadmillfactory', 'ca'], 936: ['go', 'redirectingat', 'com'], 937: nan, 939: ['awin1', 'com'], 941: ['thecubenet', 'com'], 947: ['dispatchcoffee', 'ca'], 948: nan, 949: ['cwbeggs', 'com'], 950: ['click', 'linksynergy', 'com'], 957: ['lostcraft', 'ca'], 962: ['try', 'tidal', 'com'], 963: ['canada', 'bissell', 'com'], 966: ['go', 'redirectingat', 'com'], 972: ['go', 'redirectingat', 'com'], 977: ['store', 'playstation', 'com'], 978: ['store', 'playstation', 'com'], 979: nan, 981: ['radpowerbikes', 'ca'], 984: ['fitnessavenue', 'ca'], 987: nan, 991: ['enbridgesmartsavings', 'com'], 1003: ['us', 'shop', 'battle', 'net'], 1007: ['play', 'google', 'com'], 1015: ['accounts', 'usenetserver', 'com'], 1017: ['edifier', 'com'], 1025: ['poppacorn', 'ca'], 1027: ['amazon', 'com'], 1028: ['amazon', 'ca'], 1029: ['sportium', 'ca'], 1031: ['mcgillpersonalfinance', 'com'], 1033: ['uhaul', 'com'], 1034: ['ecscoffee', 'com'], 1039: ['thermoworks', 'com'], 1043: nan, 1044: nan, 1052: ['outterlimits', 'com'], 1055: ['completeequipment', 'ca'], 1057: ['walmartphotocentre', 'ca'], 1062: ['the-home-depot-ca', 'pxf', 'io'], 1063: ['avantlink', 'ca'], 1068: ['bestbuyca', 'o93x', 'net'], 1074: nan, 1078: ['ugo', 'ca'], 1081: ['go', 'redirectingat', 'com'], 1089: nan, 1093: ['harryrosen', 'com'], 1098: nan, 1101: ['luckymobile', 'ca'], 1106: ['aeroplan', 'com'], 1108: nan, 1117: ['waterloobrewing', 'com'], 1123: ['gibbyselectronicsupermarket', 'ca'], 1132: nan, 1135: ['twitter', 'com'], 1137: ['awin1', 'com'], 1142: ['deezer', 'com'], 1143: ['click', 'linksynergy', 'com'], 1147: ['software', 'pcworld', 'com'], 1153: ['dicksonbbq', 'com'], 1155: nan, 1162: ['fitnessavenue', 'ca'], 1171: ['go', 'redirectingat', 'com'], 1188: ['edifier', 'com'], 1190: ['amazon', 'ca'], 1196: ['stacksocial', 'com'], 1211: ['awin1', 'com'], 1227: ['apps', 'apple', 'com'], 1231: ['razer', 'com'], 1240: nan, 1246: ['store', 'playstation', 'com'], 1256: ['tkqlhce', 'com'], 1266: ['play', 'google', 'com'], 1282: ['store', 'playstation', 'com'], 1284: ['brownsshoes', 'com'], 1286: ['amazon', 'ca'], 1289: ['lecreuset', 'ca'], 1300: ['news', 'xbox', 'com'], 1305: ['store', 'steampowered', 'com'], 1317: ['google', 'com'], 1319: ['storefront', 'points', 'com'], 1320: nan, 1323: ['go', 'redirectingat', 'com'], 1324: nan, 1325: ['store', 'google', 'com']}

We want to identify the company names from the url splits observed in the print above.
The patterns shown in the table will facilitate this process. This is an oversimplification and will lead to some false extractions but the number of errors should be minimal.

|Condition| Pattern|
|---|---|
|Lists length 2| company name is at index 0|
|Lists length 3 and domain com, ca, or net| name is at index 1|
|List length 3 and domain io| name is at index 0| 
|List length 4| no identifiable name|

In [25]:
clean_url_final = clean_urls.copy()

for item in clean_url_final.items():
    index = item[0]
    url_split = item[1]
    try:
        if len(url_split) == 2:
             # name at index 0
            clean_url_final[index] = url_split[0].title()
        
        elif ((len(url_split) == 3) 
                        and ((url_split[-1] == "com") 
                                 or (url_split[-1] == "ca") 
                                 or (url_split[-1] == "ca"))):
            # name at index 1
            clean_url_final[index] = url_split[1].title()
        
        elif ((len(url_split) == 3) 
                        and (url_split[-1] == "io")):
             # name at index 0
            clean_url_final[index] = url_split[0].title()
        else: 
              clean_url_final[index] = np.nan
    except: value = np.nan

In [26]:
# Add url-derived company names to DataFrame
df.loc[list(clean_url_final.keys()),'source'] = list(clean_url_final.values())
print("Missing source values remaining: ", df.source.isnull().sum())

Missing source values remaining:  63

### Dealing with missing data: `price`

Users may have forgoten to tag prices associated with the deals they posted. We will verify if their are any `$` signs in the title for those rows that have missing price values.

In [27]:
missing_prices_df = df[df.price.isnull()]
price_in_title = ["$" in title for title in missing_prices_df.title]
print(df.price.isnull().sum(), "missing values in 'price' column")
print(sum(price_in_title), "missing prices have '$' signs in the title")

428 missing values in 'price' column
217 missing prices have '$' signs in the title

In [28]:
# Display first 10 title to evaluate if the missing price could be substituted
replacement_titles = missing_prices_df[price_in_title].title
[title for title in replacement_titles][0:10]

['Old Navy: $15 for 5 Reusable Face Masks (Triple-Layer Cotton) Adults & Children',
 'Book Outlet - Many Low Prices on Books (Free Shipping Over $45 & 16% Off)',
 'Amex Offers Spend $10, get $5 - Up to 10 times (starts June 24th)',
 'Olympic 2" weight plates - 2.5lbs ($4.05), 5lbs ($7.96), 10lbs ($13.08), 25lbs ($35.97), 35lbs ($39.97), 45lbs ($66.97)',
 'Book Outlet - Many Low Prices on Books (Free Shipping Over $45 & 16% Off)',
 '[Lightning Deal] Coppertone Sport Continuous Sunscreen Spray Spf 30 Duo Pack 222mL $10.56',
 'Lenovo Duet Chromebook 2-in-1: $399 - preorder',
 'CIBC Earn $300 and 12 Month Fee Rebate with a CIBC Smart Account',
 'Bit Defender 1 Year Licenses - $14.99 + $19.99',
 'Harman Kardon Astra Bluetooth Speaker - Black - Open Box $49.99 (Brand New $429.99)']

In [29]:
regex = "[$]+[.,]*\d+[.,]*\d+"\
        "|[.,]*\d+[.,]*\d+[$]+"\
        "|[a-zA-Z]+[$]+[.,]*\d+[.,]*\d+"
price_replacements = replacement_titles.str.findall(regex)
print("Number of possible replacements:", len(price_replacements))
price_replacements

Number of possible replacements: 217

13                                               [$15]
25                                               [$45]
26                                               [$10]
27      [$4.05, $7.96, $13.08, $35.97, $39.97, $66.97]
31                                               [$45]
                             ...
1312                                    [$4.99, $3.99]
1315                                          [$39.99]
1316                                        [$60, $99]
1317                                            [$187]
1321                                            [$112]
Name: title, Length: 217, dtype: object

We will assume the first element in each list is most relevant and use it to replace missing price values. Some inaccuracies are likely to occure but the estimates should be reasonable for the most part. Most often, user seem to not include pricers in the summary if the product is available at different price categories. Picking one the prices is better than having no information at all.

In [30]:
replacement_dict = {} # key: index; value: price to replace missing value at index

# Iterate through price lists found in price_replacements and corresonding indecies in DataFrame
for replacement in zip(price_replacements, list(price_replacements.index)):
    price_list = replacement[0]
    index = replacement[1]
    if price_list != []:
        price = price_list[0]
        price_clean = (re.search(r"\d+[.,]*\d+", price)).group().replace(",","")
        replacement_dict[index] = price_clean
        
print(len(replacement_dict), "replacements found.")

207 replacements found.

In [31]:
# Replace missing values
df.loc[list(replacement_dict.keys()), 'price'] = list(replacement_dict.values())
print("Remaining missing values:", df.price.isnull().sum())

Remaining missing values: 221

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1326 entries, 0 to 1325
Data columns (total 14 columns):
author             1326 non-null object
creation_date      1326 non-null datetime64[ns]
expiry             370 non-null datetime64[ns]
last_reply         1326 non-null datetime64[ns]
parent_category    825 non-null object
price              1105 non-null object
replies            1326 non-null int64
saving             524 non-null object
source             1263 non-null object
thread_category    1325 non-null object
title              1326 non-null object
url                1044 non-null object
views              1326 non-null int64
votes              1326 non-null int64
dtypes: datetime64[ns](3), int64(3), object(8)
memory usage: 145.2+ KB

#### Transforming `price` data to float

In [55]:
regex = "\d+\.*\d*"
matches = [re.search(regex, str(x)) for x in df.price]

# Append matches to new Series object
new_price = pd.Series()
for match in matches:
    if match != None:
        new = pd.Series(float(match.group()))
    else:
        new = pd.Series(np.nan)
    new_price = new_price.append(new, ignore_index=True)
    
# Replace old price with new price column
df.price = new_price

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1326 entries, 0 to 1325
Data columns (total 14 columns):
author             1326 non-null object
creation_date      1326 non-null datetime64[ns]
expiry             370 non-null datetime64[ns]
last_reply         1326 non-null datetime64[ns]
parent_category    825 non-null object
price              1084 non-null float64
replies            1326 non-null int64
saving             513 non-null object
source             1263 non-null object
thread_category    1325 non-null object
title              1326 non-null object
url                1044 non-null object
views              1326 non-null int64
votes              1326 non-null int64
dtypes: datetime64[ns](3), float64(1), int64(3), object(7)
memory usage: 145.2+ KB

### Dealing with missing data: `saving`

In [34]:
# Titles for which the saving entry is missing
missing_savings_df = df[df.saving.isnull()]
print([title for title in missing_savings_df.title.head(20)])

['One Step Hand Sanitizer, Fragrance-Free, 473mL, $6.99', 'RYOBI 20% coupon barcode', 'Kits.com Free Pair Prescription Glasses', 'Northrock xc00, fat Tire bike, $469.99', '60x total CT Money when you pay with your Triangle WE MC - All Tire & Wheel purchases (YMMV)', 'Wahl deluxe haircutting kit $39.99 YMMV', 'Fluval Flex 9 gallon aquarium- $99.99', 'LU28R550UQNXZA Samsung 28” 4K IPS Monitor $327.99', '100mb cable internet 39$', 'Costco.ca Geometric dome climbing structure $199', 'Old Navy: $15 for 5 Reusable Face Masks (Triple-Layer Cotton) Adults & Children', 'Dell Business 15% Off Email Signup Coupon, *Stacking* w/ 10%OFFMONITOR, +6% Rakuten CB (HOT)', 'Kettle Chips New York Cheddar Chips, 220 Gram for $2.49 (add-on item)', 'Kasa Smart Outdoor Plug with 2 Outlets, Individual Control, IP64 Waterproof', 'HSBC Fixed rates: 2.04% 2-year, 1.99% 5-yr Insured & 2.29% 5-Yr (with cashback!)', 'Hilroy 1-Subject Notebook, 10-1/2" x 8", Assorted, 80 Pages $0.10, 24pk markers $2.49', '[CLEARANCE] 18-2019 Panini Toronto Raptors Championship Box Set ($7.92 )', 'Amex Offers Spend $10, get $5 - Up to 10 times (starts June 24th)', 'Olympic 2" weight plates - 2.5lbs ($4.05), 5lbs ($7.96), 10lbs ($13.08), 25lbs ($35.97), 35lbs ($39.97), 45lbs ($66.97)', 'Rheem 36kW Electric Tankless Water Heater Reg. $964, in Store $289 YMMV.']

Lastly we will search "%" symbols in rows for which the "saving" column entry is empty, similar to what we have done for prices.

In [35]:
# Titles containing the % symbol may contain information on savings
# "saving_in_title" indicates the indicies for which there is no data
# in the "saving" column and a "%" is found in the title.
saving_in_title = ["%" in title for title in missing_savings_df.title]
print(df.saving.isnull().sum(), "missing values in 'saving' column")
print(sum(saving_in_title), "rows with missing 'saving' data have a '%' symbol in their title")

802 missing values in 'saving' column
63 rows with missing 'saving' data have a '%' symbol in their title

In [36]:
# Titles containing the % symbol in rows with missing 'saving' entries  
replacement_titles = missing_savings_df[saving_in_title].title

# Extract savings data
regex = "[.,]*\d+[.,]*\d+[%]+"
saving_replacements = replacement_titles.str.findall(regex)
print("Number of possible replacements:", len(replacement_titles))
saving_replacements

Number of possible replacements: 63

1                       [20%]
16                 [15%, 10%]
20      [2.04%, 1.99%, 2.29%]
72                      [20%]
73                      [10%]
                ...
1273               [10%, 15%]
1276                    [25%]
1307               [25%, 10%]
1319                    [60%]
1320                    [60%]
Name: title, Length: 63, dtype: object

Again, we will assume the first occurance to be most relevant.

In [37]:
replacements = {}
index_saving_tuples = zip(saving_replacements.index, saving_replacements)
for index, saving in index_saving_tuples:
    try:
        replacements[index] = saving[0]
    except:
        print("Empty list found in 'saving_replacements'")

print("="*50)
print("Replacements found for missing savings:", len(replacements))

Empty list found in 'saving_replacements'
Empty list found in 'saving_replacements'
Empty list found in 'saving_replacements'
Empty list found in 'saving_replacements'
Empty list found in 'saving_replacements'
Empty list found in 'saving_replacements'
Empty list found in 'saving_replacements'
Empty list found in 'saving_replacements'
==================================================
Replacements found for missing savings: 55

In [38]:
# Replace missing values
df.loc[list(replacement_dict.keys()), 'price'] = list(replacement_dict.values())
print("Remaining missing values:", df.saving.isnull().sum())

Remaining missing values: 802

We will expand our search for percent symbols to the comments to see if we can increase the number of replacements.

In [39]:
# df slice with missing "saving" data and no "%" symbol in "titel"
no_title_replacement = missing_savings_df[[(not replaceable) for replaceable in saving_in_title]]

# titles will be used as ids for corresponding comments
comment_ids = set(no_title_replacement.title)

In [40]:
# Convert ids into indecies for comments_df
comment_indecies = [(x in comment_ids) for x in df_comments.title]

The DataFrame includes comments derived from initial posts as well the corresponding responses. To find information on savings, we are mainly interested in the initial posts. This is because we expect the authors to limmit their comments to pertinant information on the sales deal. Percent symbols may be present in the responses but are less likely to correspond to savings associated with the product. 

Each post will have a row with its  title for every response that was made. To retrieve only the initial posts of the authors, we will group by title and then select the `first_valid_index()` from each group object.

In [41]:
# Indecies for which titles appear for the first time
index_initial_posts = [x for x in df_comments[comment_indecies]\
                       .groupby('title').apply(pd.DataFrame.first_valid_index)]

replacement_comments = df_comments.iloc[index_initial_posts]

In [42]:
# Search for % symbol in comments
saving_found = ["%" in str(comment) for comment in replacement_comments.comments]
print(sum(saving_found), "row(s) with missing 'saving' data have a '%' symbol in their title")

1 row(s) with missing 'saving' data have a '%' symbol in their title

In [43]:
replacement_comments[saving_found].comments.iloc[0]

'Best Buy has stopped 10% beat'

Unfortunately only one replacement was found. Another option that could be explored in the future would be to search the titles for other indicators. For example strings of the format "50$ less" could be explored.

### Homogenizing the "saving" column

In [44]:
df.saving.value_counts()

50%         31
50% off     27
40%         12
100%        12
40% off     10
            ..
43% off      1
61% off      1
$202 off     1
40% OFF      1
4.70         1
Name: saving, Length: 286, dtype: int64

We can see, that some of the savings do not relate to percentages but rather dollars. We will convert all values first to percentages and lastly into numeric ratios from 0-1 to allow for mathematical operations. 

We can only convert savings into percentages if data in the price section is vailable. We will fist verify that this is the case for most entries.

In [45]:
# Values in "saving" without % symbols
no_missing_savings = df.iloc[df.saving.dropna().index]
dollar_savings = no_missing_savings[["%" not in str(saving) for saving in no_missing_savings.saving]]
print("Entries in 'saving' without % symbol:", dollar_savings.shape[0])
existing_price = dollar_savings.price.notnull()
print("Corresponding entries with non-missing values in 'price':", existing_price.sum())

Entries in 'saving' without % symbol: 189
Corresponding entries with non-missing values in 'price': 178

Of the saving entries that are not missing, 189 values do not contain a % symbol. These most likely correpond to "\\$" savings. Of those 189 entries, 178 entries contain values in the 'price' column. This implies that 182 "\\$" savings should be convertable to % savings. The remaining 11 will need to be deleted.

In [46]:
# "$" savings with missing 'price' data
no_price_index = existing_price[existing_price == False].index

# Verify data
df.iloc[no_price_index]

,author,creation_date,expiry,last_reply,parent_category,price,replies,saving,source,thread_category,title,url,views,votes
53,max011,2020-07-16 14:07:00,NaT,2020-07-17 06:46:00,Entertainment,NaN,9,$6.99,Google,"Books, Music, Movies, Magazines",[**FREE APP**] Learn Spanish with MosaLingua,https://play.google.com/store/apps/details?id=...,2036,22
121,gizmokrap,2020-07-16 14:46:00,NaT,2020-07-16 21:36:00,Computers & Electronics,NaN,11,100,GreenmanGaming.com,Video Games,War of Mine free (YMMV depending on ranking),http://www.tkqlhce.com/click-749547-10956577?u...,2358,9
260,max011,2020-07-14 14:32:00,NaT,2020-07-16 02:29:00,Computers & Electronics,NaN,6,$1.39,Google,Video Games,[*FREE GAME*] Zenge,https://play.google.com/store/apps/details?id=...,4108,0
467,Bulletproof35,2020-05-21 09:15:00,2020-05-27,2020-07-13 10:50:00,Home & Garden,NaN,426,Varies,Home Depot,Home Improvement & Tools,Ryobi Days - See Pictures,https://the-home-depot-ca.pxf.io/c/341376/5836...,115363,53
666,Cheapo-Findo,2020-07-08 12:45:00,2020-07-14,2020-07-09 16:01:00,NaN,NaN,15,BOGO,Papa John's Pizza,Restaurants,PAPAJOHNS BOGO Deal (YMMV) Members Only!,http://www.papajohns.com/,2623,-6
722,pinkrose398,2020-06-22 13:21:00,NaT,2020-07-08 12:57:00,NaN,NaN,58,50,Burberry,Apparel,Burberry sale,https://ca.burberry.com/fidhsfehei/,20648,21
948,MegaSilver,2020-06-11 10:03:00,2020-07-01,2020-07-03 11:11:00,Restaurants,NaN,139,BOGO,NaN,Restaurants & Bars,[FIDO XTRA] BOGO Medium Pizza at Boston Pizza,NaN,22480,14
1006,wax888,2020-05-21 09:23:00,NaT,2020-07-01 21:32:00,NaN,NaN,35,15.95,BMO,Financial Services,*Canadian Defence employees only* FREE Perform...,https://www.bmo.com/main/personal/canadian-def...,8390,0
1031,Richard1986,2020-06-30 18:43:00,NaT,2020-07-01 12:53:00,NaN,NaN,19,100,Mcgillpersonalfinance,Financial Services,McGill University Free Personal Finance Course...,https://mcgillpersonalfinance.com/,6692,42
1145,Paulie1RFD,2020-06-21 23:40:00,2020-06-25,2020-06-29 01:05:00,NaN,NaN,76,Varies,Best Buy,Computers & Electronics,Boxing Day In Summer Sale,https://bestbuyca.o93x.net/c/341376/644465/102...,43770,-46
1174,godbapu,2020-06-26 22:35:00,2020-07-26,2020-06-28 13:21:00,NaN,NaN,7,BOGO,Papa John's Pizza,Restaurants,Papa John's BOGO,NaN,2950,1

In [47]:
# Delete "$" savings without price data
df.loc[no_price_index, "saving"] = np.nan

# Verify changes
df.iloc[no_price_index]

,author,creation_date,expiry,last_reply,parent_category,price,replies,saving,source,thread_category,title,url,views,votes
53,max011,2020-07-16 14:07:00,NaT,2020-07-17 06:46:00,Entertainment,NaN,9,NaN,Google,"Books, Music, Movies, Magazines",[**FREE APP**] Learn Spanish with MosaLingua,https://play.google.com/store/apps/details?id=...,2036,22
121,gizmokrap,2020-07-16 14:46:00,NaT,2020-07-16 21:36:00,Computers & Electronics,NaN,11,NaN,GreenmanGaming.com,Video Games,War of Mine free (YMMV depending on ranking),http://www.tkqlhce.com/click-749547-10956577?u...,2358,9
260,max011,2020-07-14 14:32:00,NaT,2020-07-16 02:29:00,Computers & Electronics,NaN,6,NaN,Google,Video Games,[*FREE GAME*] Zenge,https://play.google.com/store/apps/details?id=...,4108,0
467,Bulletproof35,2020-05-21 09:15:00,2020-05-27,2020-07-13 10:50:00,Home & Garden,NaN,426,NaN,Home Depot,Home Improvement & Tools,Ryobi Days - See Pictures,https://the-home-depot-ca.pxf.io/c/341376/5836...,115363,53
666,Cheapo-Findo,2020-07-08 12:45:00,2020-07-14,2020-07-09 16:01:00,NaN,NaN,15,NaN,Papa John's Pizza,Restaurants,PAPAJOHNS BOGO Deal (YMMV) Members Only!,http://www.papajohns.com/,2623,-6
722,pinkrose398,2020-06-22 13:21:00,NaT,2020-07-08 12:57:00,NaN,NaN,58,NaN,Burberry,Apparel,Burberry sale,https://ca.burberry.com/fidhsfehei/,20648,21
948,MegaSilver,2020-06-11 10:03:00,2020-07-01,2020-07-03 11:11:00,Restaurants,NaN,139,NaN,NaN,Restaurants & Bars,[FIDO XTRA] BOGO Medium Pizza at Boston Pizza,NaN,22480,14
1006,wax888,2020-05-21 09:23:00,NaT,2020-07-01 21:32:00,NaN,NaN,35,NaN,BMO,Financial Services,*Canadian Defence employees only* FREE Perform...,https://www.bmo.com/main/personal/canadian-def...,8390,0
1031,Richard1986,2020-06-30 18:43:00,NaT,2020-07-01 12:53:00,NaN,NaN,19,NaN,Mcgillpersonalfinance,Financial Services,McGill University Free Personal Finance Course...,https://mcgillpersonalfinance.com/,6692,42
1145,Paulie1RFD,2020-06-21 23:40:00,2020-06-25,2020-06-29 01:05:00,NaN,NaN,76,NaN,Best Buy,Computers & Electronics,Boxing Day In Summer Sale,https://bestbuyca.o93x.net/c/341376/644465/102...,43770,-46
1174,godbapu,2020-06-26 22:35:00,2020-07-26,2020-06-28 13:21:00,NaN,NaN,7,NaN,Papa John's Pizza,Restaurants,Papa John's BOGO,NaN,2950,1

In [48]:
# Regular expressions for "%" and "$" savings
regex_percent = "(\d+\.*\d*\s*%)|(%\s*\d+\.*\d*)"
regex_dollar = "(\d+\.*\d*\s*\$)|(\$\s*\d+\.*\d*)"

print(re.search(regex_percent, "20%"))

<re.Match object; span=(0, 3), match='20%'>

In [63]:
# Convert savings to proportions from 0-1
new_savings = []
for index in range(df.shape[0]):
    saving = str(df.iloc[index].saving)
    # match objects
    percent = re.search(regex_percent, saving)
    dollar = re.search(regex_dollar, saving)
    
    if percent != None:
        saving = percent.group()
        saving_clean = float(saving.replace("%","").replace(",","").strip())
        new = float(saving_clean/100)
    elif dollar != None:
        saving = dollar.group()
        saving_clean = float(saving.replace("$","").replace(",","").strip())
        price = df.iloc[index].price
        if price > 0:
            new = float(saving_clean/(price + saving_clean))
        else:
            new = 1.0
    elif saving != "nan":
        saving = re.search("\d+\.*\d*", saving)
        if saving != None:
            saving = float(saving.group())
            price = df.iloc[index].price
            new = float(saving/(price + saving))
        else:
            new = np.nan
    else:
        new = np.nan
    new_savings.append(new)
    
df["new_saving"] = new_savings
df[df.new_saving.notnull()].loc[:,['price','saving','new_saving']]

        price      saving  new_saving
6       27.50    0.500000    0.017857
7      278.40    0.300503    0.001078
12    1998.00  600.000000    0.230947
14     596.25    0.068345    0.000115
15      39.99    0.200000    0.004976
...       ...         ...         ...
1308     3.25    0.460000    0.123989
1310    42.00    0.580000    0.013621
1313     2.00    0.996016    0.332447
1314    99.99    0.375023    0.003737
1324    19.99    0.200080    0.009910

[442 rows x 3 columns]

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1326 entries, 0 to 1325
Data columns (total 15 columns):
author             1326 non-null object
creation_date      1326 non-null datetime64[ns]
expiry             370 non-null datetime64[ns]
last_reply         1326 non-null datetime64[ns]
parent_category    825 non-null object
price              1084 non-null float64
replies            1326 non-null int64
saving             511 non-null float64
source             1263 non-null object
thread_category    1325 non-null object
title              1326 non-null object
url                1044 non-null object
views              1326 non-null int64
votes              1326 non-null int64
new_saving         442 non-null float64
dtypes: datetime64[ns](3), float64(3), int64(3), object(6)
memory usage: 155.5+ KB

For the most part it seems the conversion was a success. Unfortunately some of the data in `saving` was deleted during the cleanup and conversion process. We will investigate those values.

In [58]:
df[df.saving.notnull() &  df.new_saving.isnull()].loc[:,['price','saving','new_saving']]

      price  saving new_saving
528  139.99  hotbuy        NaN
815  476.10      PM        NaN

The saving values that were not convered correspond to string values and should therefore be replaced by np.nan.
It seems that everything is in order, so we will replace the old with new saving colum.

In [59]:
df.saving = df.new_saving.astype('float')
df.drop(["new_saving"], axis=1, inplace=True)

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1326 entries, 0 to 1325
Data columns (total 14 columns):
author             1326 non-null object
creation_date      1326 non-null datetime64[ns]
expiry             370 non-null datetime64[ns]
last_reply         1326 non-null datetime64[ns]
parent_category    825 non-null object
price              1084 non-null float64
replies            1326 non-null int64
saving             511 non-null float64
source             1263 non-null object
thread_category    1325 non-null object
title              1326 non-null object
url                1044 non-null object
views              1326 non-null int64
votes              1326 non-null int64
dtypes: datetime64[ns](3), float64(2), int64(3), object(6)
memory usage: 145.2+ KB

In [65]:
df.describe()

,price,replies,saving,views,votes,new_saving
count,1084.000000,1326.000000,511.000000,1326.000000,1326.000000,442.000000
mean,190.698635,52.892911,5.077940,13734.675716,12.815988,0.061315
std,360.760773,144.362648,35.796607,33812.256561,28.023994,0.157281
min,0.000000,-1.000000,0.000000,127.000000,-73.000000,0.000000
25%,17.990000,5.000000,0.250000,2191.750000,1.000000,0.001635
50%,59.990000,15.000000,0.400000,4208.000000,5.000000,0.006623
75%,198.250000,45.000000,0.550000,11146.250000,14.000000,0.028371
max,4499.000000,2791.000000,600.000000,507393.000000,319.000000,1.000000

In [ ]:
df.saving = df.new_saving
df.drop(['new_saving'], axis=1, inplace=True)
df.to_csv("rfd_main_cleaned.csv")