# Web scraping the redflagdeals forum

The following OAuth token was used for authentication: 13426216-4U1ckno9J5AiK72VRbpEeBaMSKk.

In [14]:
# Packages
import requests # Scraping
from bs4 import BeautifulSoup # HTML parsing
import pandas as pd
import json

## Retrieving data from the "Hot Deals - All Categories" sub-forum

In [117]:
# Starting URL and page
# Paging format of redflagdeals: ulr/page#/
page = "" # used to format URL
page_number = 1 # used for increments and merged with page
url = "https://forums.redflagdeals.com/hot-deals-f9/{}".format(page)

# Dataframe to store scraped elements
table = pd.DataFrame(columns=['title', 'source', 'url', 'votes', 'replies', 'creation_date', 'last_reply', 'user'])

In [40]:
def get_posts(page: str):
    """Returns list of all HTML post elements found on page"""
    
    # Initalize list of posts on page class="row topic"
    posts = []
    
    # Get entire page content
    response = requests.get(page)
    content = response.content

    # URL parser
    parser = BeautifulSoup(content, 'html.parser')
    
    # Find and return list of topics
    topics = parser.find_all("li", class_="row topic")
    return topics

In [ ]:
def additional_info(post: str) -> None:
    """Returns additional information about the given post such as the url-link to the deal, 
    the price and the discount percentage if available"""

In [221]:
def fill_table(posts: list) -> None:
    '''Fills table with data from the post elements'''
    
    # Initializing temporary DataFrame, will be appended to global table variable
    tmp_table = pd.DataFrame()
    
    # Initializing columns for tmp_table
    title_col = pd.Series()
    source_col = pd.Series()
    url_col = pd.Series()
    votes_col = pd.Series()
    replies_col = pd.Series()
    creation_data_col = pd.Series()
    last_reply_col = pd.Series()
    user_col = pd.Series()
    

    # Iterate through post elements and extract data for table
    for post in posts:
        
        # Deal sources
        try: 
            source = post.select(".topictitle_retailer")[0].text.split("\n")[0] # split and extract elements before line-break
            source_series = pd.Series(source) # transform into Series object and append to column
            source_col = source_col.append(source_series, ignore_index=True)
        except: source_col.append(None) 

        # Number of votes
        try: 
            votes = post.select(".post_voting")[0].text.split("\n")[1] # Split and extract element inbetween line-breaks
            votes_series = pd.Series(votes) # transform into Series object and append to column
            votes_col = votes_col.append(votes_series, ignore_index=True)
        except: votes_col.append(None)
            
    # Fill temporary table
    tmp_table['votes'] = votes_col
    tmp_table['source'] = source_col
        
    # Print result
    print(tmp_table.head(5))

In [222]:
# List of posts
posts = get_posts(url)

# Test
fill_table(posts)

  votes              source
0  +107  Shoppers Drug Mart
1    +9          Home Depot
2    +7         Eddie Bauer
3   +18                LCBO
4   +26            Old Navy

In [175]:
s=pd.Series([1,2,3,4,5,6])
s2=pd.Series([7,8,9,10,11,12])
df=pd.DataFrame()

In [176]:
df['test'] = s
df

   test
0     1
1     2
2     3
3     4
4     5
5     6

In [165]:
df['test2'] = s2
df

   test  test2
0     1    7.0
1     2    8.0
2     3    9.0
3     4   10.0
4     5   11.0
5     6    NaN

In [184]:
s = s.append(pd.Series([9]),ignore_index=True)
s

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12     9
dtype: int64